{% extends "layout-gov-signed-in-private-beta01.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/private-beta01/confirmation-page" method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-heading-l">
                            Check your answers before sending the SR1 form
                        </h1>
                    </legend>

                    <!--<p class="govuk-body govuk-!-margin-bottom-7">Accurate information will reduce delays to the patient's benefit claim.</p>-->

                    <!-- ################# -->
                    <!-- PATIENT'S DETAILS -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-m">Patient details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="patientDetailsContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="PatientFullName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-01">
                                    Change<span class="govuk-visually-hidden"> the patient's name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dob"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-02">
                                    Change<span class="govuk-visually-hidden"> the patient's date of birth</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                    <div list>17 Chichester Street</list></div>
                                    <div list>Belfast</list></div>
                                    <div list>BT1 4GF</list></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-03">
                                    Change<span class="govuk-visually-hidden"> the patient's address</span>
                                </a>
                            </dd>
                        </div>
                        <!--<div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National Insurance number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="niNo"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-05-radio">
                                    Change<span class="govuk-visually-hidden"> the patient's National Insurance
                                        number</span>
                                </a>
                            </dd>
                        </div>-->
                    </dl>


                    <!-- ############## -->
                    <!-- DIAGNOSIS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-m">Diagnosis</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="diagnosisDataContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="whatIsTheDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-07">
                                    Change<span class="govuk-visually-hidden"> diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-08">
                                    Change<span class="govuk-visually-hidden"> the date of diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Special Rules date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofSpecialRules"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-06">
                                    Change<span class="govuk-visually-hidden">Special Rules date</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Other relevant diagnoses
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="otherRelevantDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-09-radio">
                                    Change<span class="govuk-visually-hidden">other relevant diagnoses</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-10">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their
                                        diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of prognosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfPrognosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-11">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their
                                        prognosis</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- CLINICAL FEATURES -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-m">Clinical features and treatment</h2>
                    <!--<h2 class="govuk-heading-m">Clinical features</h2>-->

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="clicnicalFeaturesContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Clinical features
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="clinicalFeatures"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-12">
                                    Change<span class="govuk-visually-hidden"> clinical features</span>
                                </a>
                            </dd>
                        </div>
                        <!--
                    </dl>-->


                        <!-- ################# -->
                        <!-- TREATMENT -->
                        <!-- ################# 
                    <h2 class="govuk-heading-m">Treatment</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="treatmentContainer">-->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Treatment and response
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="treatment"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/sr1-form-13">
                                    Change<span class="govuk-visually-hidden"> treatment and response</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-m">Your details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="yourName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/profile-01">
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="role"></div>
                                <div id="otherRole"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/profile-02">
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="professionalRegNum"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/profile-03">
                                    Change<span class="govuk-visually-hidden"> your professional registration
                                        number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="mobileNumber"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/profile-04">
                                    Change<span class="govuk-visually-hidden"> your phone number</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="organisationName"></div>
                                <div id="organisationAddressLine1"></div>
                                <div id="organisationAddressLine2"></div>
                                <div id="organisationTownCity"></div>
                                <div id="organisationAddressCounty"></div>
                                <div id="organisationPostcode"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta01/profile-05">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- DECLARATION -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-m">Declaration</h2>

                    <p class="govuk-body">By sending this SR1 form, you confirm that:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>you have read the guidance on completing the form</li>
                        <li>the person named in the form is your patient</li>
                        <li>this is a full report of their condition and treatment</li>
                        <li>you are satisfied that completing an SR1 form is correct for them</li>
                    </ul>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage()>
                    I agree &ndash; send the form
                </button>
            </div>

        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}