{% extends "layout.html" %}

{% block pageTitle %}
Get help – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Get help
        </h1>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Personal Independence Payment 16 - 64</h2>
            <h3 class="govuk-heading-s">Address</h3>
            <ul class="govuk-list">
                <li>Personal Independence Payment (10)</li>
                <li>Mail Handling Site A</li>
                <li>Wolverhampton</li>
                <li>WV98 1AE</li>
            </ul>
            <h3 class="govuk-heading-s">New claims</h3>
            <p class="govuk-body">0800 917 2222</p>

            <h3 class="govuk-heading-s">Enquiries</h3>
            <p class="govuk-body">0800 121 4433</p>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Disability Living Allowance Adult</h2>
            <p class="govuk-body">Born on or before 08/04/1948</p>
            <h3 class="govuk-heading-s">Address</h3>
            <ul class="govuk-list">
                <li>Disability Living Allowance 65+</li>
                <li>Mail Handling Site A</li>
                <li>Wolverhampton</li>
                <li>WV98 2AH</li>
            </ul>
            <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0800 731 0122</p>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Disability Living Allowance Adult</h2>
            <p class="govuk-body">Born on or after 09/04/1948</p>
            <h3 class="govuk-heading-s">Address</h3>
            <ul class="govuk-list">
                <li>Disability Living Allowance</li>
                <li>Warbreck House</li>
                <li>Warbreck Hill</li>
                <li>Blackpool</li>
                <li>FY2 0YE</li>
            </ul>
            <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0800 121 4600</p>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Disability Living Allowance Child</h2>
            <h3 class="govuk-heading-s">Address</h3>
            <ul class="govuk-list">
                <li>Disability Benefit Centre 4</li>
                <li>Post Handling Site B</li>
                <li>Wolverhampton</li>
                <li>WV99 1BY</li>
            </ul>
            <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0800 121 4600</p>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Attendance Allowance</h2>
            <h3 class="govuk-heading-s">Address</h3>
            <ul class="govuk-list">
                <li>Attendance Allowance Unit</li>
                <li>Mail Handling Site A</li>
                <li>Wolverhampton</li>
                <li>WV98 2AD</li>
            </ul>
            <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0800 731 0122</p>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Universal Credit</h2>
            <p class="govuk-body">Freepost DWP Universal Credit Full Service</p>
            <h3 class="govuk-heading-s">Telephone</h3>
            <p class="govuk-body">0800 328 5644</p>
        </div>
        <!--<div class="govuk-!-padding-bottom-6"></div>-->

    </div>

</div>
{% endblock %}