{% extends "layout-gov-name.html" %}

{% block pageTitle %}
Page not found – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        <h1 class="govuk-heading-l">
            Page not found
        </h1>
        <p class="govuk-body">If you typed the web address, check it is correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
        <p class="govuk-body">If the web address is correct or you selected a link or button, contact us for help.</p>
        

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-m">Get help</h2>
              <!--<p class="govuk-body">You can email for technical support, such as accessing the service.</p>
              <p class="govuk-body">We cannot discuss specific patients or how to complete the SR1 form, so please do not give personal details.</p>-->
              <p class="govuk-body">Email: <a class="govuk-link" href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
              <p class="govuk-body">We aim to respond within 5 working days.</p>
              <!--<h2 class="govuk-heading-m">How to contact the benefit services</h2>
              <p class="govuk-body">For information about Personal Independence Payment, Disability Living Allowance or Attendance Allowance, <a class="govuk-link" href="https://www.gov.uk/disability-benefits-helpline" target="_blank">contact the Disability Service Centre (opens in a new tab)</a>.</p>
              <p class="govuk-body">For information about Universal Credit or Employment and Support Allowance, <a class="govuk-link" href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims" target="_blank">contact Jobcentre Plus (opens in a new tab)</a>.</p>-->
            </div>
        </div>
    </section>

    </div>

</div>
{% endblock %}