{% extends "layout-gov-signed-in-private-beta01.html" %}

{% block pageTitle %}
Organisation address not found – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta01/sr1-form-sections" method="post">
            <div class="govuk-width-container">
                <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">
                        Organisation address not found
                    </h1>
                    <p>We could not find an address that matches <b>TW1 3AA</b>. You can search again or enter the organiation's address manually.</p>
                </div>

                <!-- Action button -->
                <p><a id="different-address-link" class="govuk-link" rel="external"
                        href="/private-beta01/profile-05">Search again</a></p>
                <p class="govuk-label" for="cannot-find-address"><a id="postcode-finder-link" class="govuk-link"
                        rel="external" onclick="enterAddressManually()" href="/private-beta01/profile-07-a">Enter your organisation’s address manually
                        manually</a></p>
            </div>
        </form>

    <div class="govuk-!-padding-bottom-6"></div>

    <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Get help</h2>
                <p class="govuk-body">Email: <a class="govuk-link"
                        href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                <p class="govuk-body">We aim to respond within 3 working days.</p>
            </div>
        </div>
    </section>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savePatientAddressSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta01(origin, "/private-beta01/sr1-form-sections");

        window
            .location
            .replace(url.toString());
    }
</script>
{% endblock %}