{% extends "layout.html" %}

{% block pageTitle %}
Create your profile
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/private-beta01/profile-01-new" method="post">
            <div class="govuk-form-group">
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                    aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            You signed in with jean.grey@nhs.trust.uk
                        </h3>
                        <p class="govuk-body"><a id="signOutNavLink" class="govuk-notification-banner__link" href="#"
                                aria-label="Sign out" onclick="logOutHcpE2e()">Sign out if this is not your email
                                account</a>.</p>
                    </div>
                </div>

                <h1 class="govuk-heading-l">Create your profile</h1>
                <p>To save you time when you fill out SR1 forms, we will automatically add your profile details to them for you.</p>
                <p>To create your profile, we need your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>name</li>
                    <li>role </li>
                    <li>professional registration number</li>
                    <li>mobile number</li>
                    <li>organisation name and address</li>
                </ul>
                <p>You only need to create your profile the first time you sign in.</p>

            </div>

            <!-- Continue button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>

    </div>

    <!-- Side panel 
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
    -->
</div>
{% endblock %}