{% extends "layout-gov-signed-in-private-beta01.html" %}

{% block pageTitle %}
Error: What is your name? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/private-beta01/profile-02" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#fullName">Enter your first name</a>
                            </li>
                        </ul>
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#lastName">Enter your last name</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l">Question 1 of 5</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is your name?
                        </h1>
                    </legend>

                    <!-- Full name -->
                    <div class="govuk-form-group govuk-form-group--error">
                        <label class="govuk-label" for="firstName">First name</label>
                        <!--ERROR LEGEND -->
                        <p id="fullName-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter your first name
                        </p>
                        <!-- END ERROR -->
                        <input class="govuk-input govuk-input--error" id="firstName" name="firstName" type="text"
                            autocomplete="off">
                    </div>
                    <div class="govuk-form-group govuk-form-group--error">
                        <label class="govuk-label" for="lastName">Last name</label>
                        <!--ERROR LEGEND -->
                        <p id="lastName-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter your last name
                        </p>
                        <!-- END ERROR -->
                        <input autocomplete="off" class="govuk-input govuk-input--error" id="lastName" name="lastName"
                            type="text" spellcheck="false">
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="saveHCPNameprivatebeta01(); resetChangeFn();">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        saveHCPNameprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta01(origin, "/private-beta01/sr1-form-sections-3-completed");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}