{% extends "layout-gov-signed-in-private-beta01.html" %}

{% block pageTitle %}
Error: What is the patient's name? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="sendAnSR1Form" action="/private-beta01/sr1-form-02" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#PatientFullName">The patient’s first name must be 250 characters or less</a>
                            </li>
                        </ul>
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#PatientLastName">The patient’s last name must be 250 characters or less</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 1 of 4</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is the patient's name?
                        </h1>
                    </legend>

                    <!-- Full name -->
                    <div class="govuk-form-group govuk-form-group--error">
                        <!--<span class="govuk-visually-hidden">Patient </span>--><label class="govuk-label" for="PatientFullName">First name</label>
                        <!--ERROR LEGEND -->
                        <p id="PatientFirstName-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>The patient’s first name must be 250 characters or less
                        </p>
                        <!-- END ERROR -->
                        
                        <input autocomplete="off" class="govuk-input govuk-input--error" id="PatientFullName" name="PatientFullName"
                            type="text" spellcheck="false" value="Hubert Adolph Blaine Charles David Earl Frederick Gerald Hubert Irvin John Kenneth Lloyd Martin Nero Oliver Paul Quincy Randolph Sherman Thomas Uncas Victor William Xerxes Yancy Zeus">
                    </div>
                    <div class="govuk-form-group govuk-form-group--error">
                        <!--<span class="govuk-visually-hidden">Patient </span>--><label class="govuk-label" for="PatientLastName">Last name</label>
                        <!--ERROR LEGEND -->
                        <p id="PatientLastName-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Patient's last name must be 250 characters or less
                        </p>
                        <!-- END ERROR -->
                        <input autocomplete="off" class="govuk-input govuk-input--error" id="PatientLastName" name="PatientLastName"
                            type="text" spellcheck="false" value="Wolfeschlegelsteinhausenbergerdorffwelchevoralternwarengewissenhaftschaferswessenschafewarenwohlgepflegeundsorgfaltigkeitbeschutzenvonangreifendurchihrraubgierigfeindewelchevoralternzwolftausendjahresvorandieerscheinenvanderersteerdemenschderraumschiffgebrauchlichtalsseinursprungvonkraftgestartseinlangefahrthinzwischensternartigraumaufdersuchenachdiesternwelchegehabtbewohnbarplanetenkreisedrehensichundwohinderneurassevonverstandigmenschlichkeitkonntefortpflanzenundsicherfreuenanlebenslanglichfreudeundruhemitnichteinfurchtvorangreifenvonandererintelligentgeschopfsvonhinzwischensternartigraum">
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="savePatientNameSR1Formprivatebeta01()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-m">Get help</h2>
              <!--<p class="govuk-body">You can email for technical support, such as accessing the service.</p>
              <p class="govuk-body">We cannot discuss specific patients or how to complete the SR1 form, so please do not give personal details.</p>-->
              <p class="govuk-body">Email: <a class="govuk-link" href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
              <p class="govuk-body">We aim to respond within 5 working days.</p>
            </div>
        </div>
    </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        savePatientNameSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParams(origin, "/private-beta01/sr1-form-start");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}