{% extends "layout-gov-signed-in-private-beta01.html" %}

{% block pageTitle %}
Patient address not found – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta01/sr1-form-05-radio" method="post">
            <div class="govuk-width-container">
                <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">
                        Patient address not found
                    </h1>
                    <p>We could not find an address that matches <b>SU1 5AS</b> and <b>17</b>. You can search again or enter the patient's address manually.</p>
                </div>

                <!-- Action button -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="use-different-address"><a id="different-address-link" class="govuk-link"
                            rel="external" href="/private-beta01/sr1-form-03">Search again</a></label>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="cannot-find-address"><a id="postcode-finder-link" class="govuk-link"
                            rel="external" onclick="enterAddressManually()" href="/private-beta01/sr1-form-04-a">Enter the patient’s address
                            manually</a></label>
                </div>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
      //savePatientAddressSR1Formprivatebeta01();
  
      const origin = window.location.origin;
      const url = getUrlWithSR1DataAsQueryParamsprivatebeta01(origin, "/private-beta01/sr1-form-sections");
  
      window
        .location
        .replace(url.toString());
    }
  </script>
{% endblock %}