{% extends "layout-gov-signed-in-private-beta03.html" %}

{% block pageTitle %}
Error: What was the date of the patient’s diagnosis? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta03/diagnosis/special-rules-date" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#diagnosis-day">Enter the date of the diagnosis</a>
                            </li>
                            <li>
                                <a href="#diagnosis-day" class="govuk-visually-hidden">The date of diagnosis must be in the
                                    past</a>
                            </li>
                            <li>
                                <a href="#diagnosis-day" class="govuk-visually-hidden">The date of diagnosis must include a
                                    day</a>
                            </li>
                            <li>
                                <a href="#diagnosis-month" class="govuk-visually-hidden">The date of diagnosis must include a
                                    month</a>
                            </li>
                            <li>
                                <a href="#diagnosis-year" class="govuk-visually-hidden">The date of diagnosis must include a
                                    year</a>
                            </li>
                            <li>
                                <a href="#diagnosis-day" class="govuk-visually-hidden">The date of diagnosis must be a real
                                    date</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 2 of 6</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What was the date of the patient’s diagnosis?
                        </h1>
                    </legend>

                    <!-- Date of diagnosis -->
                    <!--<p class="govuk-body">
                        If you do not know the exact date, you can use the first day of the month.
                    </p>-->
                    <div class="govuk-form-group govuk-form-group--error">
                        <div id="diagnosis-hint" class="govuk-hint">
                            If you do not know the exact date, you can use the first day of the month. For example, 1 10 1960.
                        </div>

                        <!--ERROR LEGEND -->
                        <p id="diagnosis-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter the date the diagnosis
                        </p>
                        <p id="diagnosis-past-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> The date of diagnosis must be in the past
                        </p>
                        <p id="diagnosis-day-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> The date of diagnosis must include a day
                        </p>
                        <p id="diagnosis-month-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> The date of diagnosis must include a month
                        </p>
                        <p id="diagnosis-year-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> The date of diagnosis must include a year
                        </p>
                        <p id="real-diagnosis-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> The date of diagnosis must be a real date
                        </p>
                        <!-- END ERROR -->

                        <div class="govuk-date-input" id="diagnosis-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="diagnosis-day">
                                        Day
                                    </label>
                                    <input autocomplete="off"
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error"
                                        id="diagnosis-day" name="diagnosis-day" type="text" inputmode="numeric"
                                        onkeypress="return isNumberKey(event)" maxlength="2">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="diagnosis-month">
                                        Month
                                    </label>
                                    <input autocomplete="off"
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error"
                                        id="diagnosis-month" name="diagnosis-month" type="text" inputmode="numeric"
                                        onkeypress="return isNumberKey(event)" maxlength="2">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="diagnosis-year">
                                        Year
                                    </label>
                                    <input autocomplete="off"
                                        class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error"
                                        id="diagnosis-year" name="diagnosis-year" type="text" inputmode="numeric"
                                        onkeypress="return isNumberKey(event)" maxlength="4">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveDateDiagnosisSR1Formprivatebeta03()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveDateDiagnosisSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta03(origin, "/private-beta03/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}