{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Confirm your name – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<form class="form" action="/live-version01/save-your-details/your-name-answer" method="post" id="hcpnamechoice" name="profileDetails">

  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           Contact us
          </h1>
        </legend>
  
  
        
            <h2 class="govuk-heading-m">If you have a general query</h2>
           
<p class="govuk-body">The Personal Independence Payment (PIP) team manage enquiries for SR1 forms sent online, by email or by post. They can help with things like: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>checking the progress of an SR1 form</li>
  <li>providing a copy of an SR1 form</li>
  <li>checking the progress of a benefit claim</li>
</ul>

               <ul class="govuk-list">
                 

<div class="govuk-inset-text">
 <li>Telephone: 0800 121 4433</li>
          <li>Monday to Friday, 9am to 5pm (except public holidays)</li></div>

       


        <p class="govuk-body">
  <a href="#" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121433.
</p>


           <li>
    <a class="govuk-link" href="#">Find out about call charges </a>
  </li>
  <br>

    <br>
    
       

          <h2 class="govuk-heading-m">If you have a technical query about the online service</h2>
        


        <p class="govuk-body">Email: <a class="govuk-link"
                    href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
    
<p class="govuk-body">The team aim to respond within 3 working days.</p>
            
       
                <!--Feedback-->
    </div>


</section>

</div>

{% endblock %}

