{% extends "layout.html" %}

{% block pageTitle %}
  Your data has been cleared from the browser's cache
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your data
      </h1>

      <p class="govuk-body">Your data has been cleared from the browser's cache</p>

      <p class="govuk-body">Return to the <a href="/claimant-journey/questions-v1/">Booking</a> home page.</p>

    </div>
  </div>

{% endblock %}