{% extends "layout.html" %}
{% block pageTitle %}
    Do you have an email address?
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Do you have an email address?</h1>
        <!-- </div>
        
        <div class="govuk-grid-column-one-half"> -->

            <!-- hasDo you have an email address? -->
            <div class="govuk-form-group">
                <div id="contact-hint" class="govuk-hint">
                    We will use this email to contact you about your claim.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hasEmailAddress" name="emailAddress" type="radio" value="yes" data-aria-controls="conditional-emailAddress">
                    <label class="govuk-label govuk-radios__label" for="hasEmailAddress">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-emailAddress">
                    <div class="govuk-form-group">
                    <label class="govuk-label" for="whatemailAddress">
                        Email address
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="whatemailAddress" name="whatemailAddress" type="text" spellcheck="false" autocomplete="text">
                    </div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hasNoEmailAddress" name="emailAddress" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="hasNoEmailAddress">
                        No
                    </label>
                </div>
                </div>
            </div>

            <!-- Continue conditionally -->
            <div class="govuk-button-group">
                <a href="national-insurance-number" class="govuk-button" data-module="govuk-button">
                    Continue
                </a>
            </div>


        </div>
    </div>
{% endblock %}