{% extends "layout-gov-name.html" %}

{% block pageTitle %}
Organisation address not found – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Organisation address not found </h1>
          <p class="govuk-body"> We could not find an address that matches co12gp.</p>
          <p class="govuk-body">You can search again or enter your organisation’s address manually.</p>
          <p class="govuk-body">
            You can<a class="govuk-link" href="#"> search again</a> or <a class="govuk-link" href="#"> enter your organisation’s address manually</a>.
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}