registry=https://registry.npmjs.org/

# DWP GOV.UK package scope → GitLab
@dwp:registry=https://registry.npmjs.org-gitlab-proxy
//registry.npmjs.org-gitlab-proxy/:_authToken=${NPM_TOKEN}

# Core DWP frontend packages → Nexus
@dwp:registry=https://registry.npmjs.org/
