{% extends "layout.html" %}

{% block pageTitle %}
    Incomplete SR1 forms
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Incompleted SR1 forms</h1>
        
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
              Incomplete SR1 forms will be deleted after 30 days. If the form is deleted, you will have to start it again.
              <!-- An incomplete SR1 form can delay your patient's Special Rules claim. Complete them now. -->
          </strong>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                <strong>Search by name or reference number</strong>
            </label>
            <input class="govuk-input govuk-input--width-10" id="searchField" name="searchField" type="text">
            &nbsp;&nbsp;
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Search
            </button>
            &nbsp;&nbsp;
            <a class="govuk-link" href="#" onclick="clearSearchTerms()">Clear search</a>
        </div>

        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <table id="column5" class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Patient name</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Reference number</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date started</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Days left to submit</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!-- Urgent set -->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Rachael Summers</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD01</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">16/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">3 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Rachael', 'Summers')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Regan Winn</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD02</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">17/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">3 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Regan', 'Winn')">Complete</a></td>
            </tr>

            <!-- Non-urgent set -->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Connor Gold</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD03</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">22/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">10 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Connor', 'Gold')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Irene Adler</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD04</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">28/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">16 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Irene', 'Adler')">Complete</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Rachel Scott</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD06</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">19 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Rachel', 'Scott')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Martin Jason</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD05</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31/10/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">19 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Martin', 'Jason')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Robert Drake</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD07</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">02/11/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">21 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Robert', 'Drake')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Diana Jones</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD08</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">06/11/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">25 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Diana', 'Jones')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Jamiee Dee</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD09</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">09/11/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">28 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Jamiee', 'Dee')">Complete</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Abigail Brand</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12345ABCD10</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">10/11/2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">29 Days</strong></td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v02/send-an-sr1-form-prefilled" onclick="incompletePrefilledFormName('Abigail', 'Brand')">Complete</a></td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- Side panel -->
      <div class="govuk-grid-column-one-third">
          <div class="side-panel">
              <h4 class="govuk-heading-s">Get help sending an SR1 form</h4>
              <p><a href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">Guidance for completing the SR1 (opens in a new tab)</a></p>
              <p class="govuk-body"><strong>Telephone</strong></p>
              <p class="govuk-body">0300 303 5035</p>
              <p class="govuk-body"><strong>Email</strong></p>
              <p class="govuk-body"><a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></p>
          </div>
      </div>
    </div>

{% endblock %}