{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Error: Does the patient have other relevant diagnosis? – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/live-version01/dashboard/your-account-delete-banner" method="post">
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#select-an-address">Select an answer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you sure you want to delete your details?
                        </h1>
                    </legend>

                    <!--ERROR LEGEND -->
                    <p id="address-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select an answer
                    </p>
                    <!-- END ERROR -->


                    <!-- Receive reminder options -->
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="otherRelevantDiagnosis-yes"
                                name="otherRelevantDiagnosis" type="radio" value="Yes"
                                onclick="liveversion01OtherDiagnosis(this)">
                            <label class="govuk-label govuk-radios__label" for="otherRelevantDiagnosis-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="otherRelevantDiagnosis-no"
                                name="otherRelevantDiagnosis" type="radio" value="Not provided"
                                onclick="liveversion01OtherDiagnosis(this)">
                            <label class="govuk-label govuk-radios__label" for="otherRelevantDiagnosis-no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>


            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="saveOtherDiagnosisradioSR1Formliveversion01(); resetChangeFn();">Continue</button>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>

    </div>
    </section>

</div>

</div>
{% endblock %}