{% extends "layout-gov.html" %}

{% block pageTitle %}
SR1 form sent
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">SR1 form <span id="resubmittedH1" class="hidden">re</span>sent</h1>
                <div class="govuk-panel__body">Reference number<br><strong>HDJ2123F</strong></div>
            </div>

            <div class="govuk-!-padding-bottom-6">
                <p class="govuk-body">You have <span id="resubmittedParagraph" class="hidden">re</span>sent the form to
                    the
                    Department for Work and Pensions (DWP).</p>
                <!--
            <p class="govuk-body"><a href="https://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf"
                    target="_blank" download>Download this form (PDF, 2MB)</a></p>
            -->
                
            </div>

            <h2 class="govuk-heading-m">Download a copy of the form</h2>

            <!-- Component publishing-->

            <section class="gem-c-attachment govuk-!-display-none-print">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true"
                        href="https://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf">
                        <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99"
                            height="140" aria-hidden="true">
                            <path
                                d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z"
                                stroke-width="0"></path>
                        </svg>
                    </a>
                </div>
                <div class="gem-c-attachment__details">
                    <h2 class="gem-c-attachment__title">
                        <a class="govuk-link gem-c-attachment__link" target="_self" onclick=printForm()><span
                                id="PatientFullName"></span> SR1 form</a>
                    </h2>

                    <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr
                                title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>,
                        <span class="gem-c-attachment__attribute">19.5 KB</span>
                    </p>

                    <p class="gem-c-attachment__metadata">This file may not be suitable for users of assistive
                        technology.</p>
                    <details class="gem-c-details govuk-details govuk-!-margin-bottom-3"
                        data-module="govuk-details gem-details" data-govuk-details-module-started="true"
                        data-gem-details-module-started="true">
                        <summary class="govuk-details__summary" data-details-track-click="">
                            <span class="govuk-details__summary-text">
                                Request an accessible format.
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                            If you use assistive technology (such as a screen reader) and need a version of this
                            document in a more accessible format, please email <a
                                href="mailto:sr1.servicedesk@nhs.net" target="_blank"
                                class="govuk-link">sr1.servicedesk@nhs.net</a>. Please tell us what format you
                            need. It will help us if you say what assistive technology you use.

                        </div>
                    </details>
                </div>
            </section>


            <div class="govuk-!-padding-bottom-6"></div>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">You should tell your patient you have sent the form and encourage them to submit their benefit claim.</p>
            <p class="govuk-body">We will contact your patient when we have made a decision on their claim.</p>
            <p class="govuk-body">If we need more information about the patient, we will contact you.</p>
            <!-- Submit button -->
            <p class="govuk-body"><a href="/hcp-e2e-journey-v06/account-d-dashboard" id="backtoaccounthome"
                    onclick="completedSR1Form()">Back to account home</a></p>

                    <div class="govuk-!-padding-bottom-6"></div>

            <h2 class="govuk-heading-m">Get help</h2>

            <p class="govuk-body">You can contact us by email or telephone if you need help.</p>
            <ul class="govuk-list">
                <li>Telephone: 0300 303 5035</li>
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
            </ul>
            <p class="govuk-body">Tell us the SR1 reference number if you need help with a form you have already sent.</p>
            <div class="govuk-!-padding-bottom-6"></div>
            <p class=govuk-body><a href="#">What did you think of this service?</a></p>

        </div>

    </div>
</div>
{% endblock %}