{% extends "layout-gov.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/hcp-e2e-journey-v06/confirmation-page" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <span class="govuk-caption-m">Reference number: <span id="referenceNumber"></span></span>
                        <h1 class="govuk-fieldset__heading">
                            <span id="fullNameHeading"></span>: completed SR1 form
                        </h1>
                    </legend>

                    <!-- Inset text -->
                    <div class="govuk-inset-text">
                        <p>You submitted this form on <span id="dateSubmission"></span>. You cannot edit your answers.
                        </p>
                    </div>

                    <!-- ################# -->
                    <!-- PATIENT'S DETAILS -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Patient details</h2>

                    <dl class="govuk-summary-list" id="patientDetailsContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Full name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="fullName"></div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dob">12/01/1970</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="address">86 Claremont Cove</br />Glenrothes</br />SE1 ABC</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National Insurance number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="niNo">QQ 12 34 56 C</div>
                            </dd>
                        </div>
                    </dl>


                    <!-- ############## -->
                    <!-- DIAGNOSIS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Diagnosis</h2>

                    <dl class="govuk-summary-list" id="diagnosisDataContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="whatIsTheDiagnosis">End stage COPD</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofDiagnosis">01/2022</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date the patient met the Special Rules
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofSpecialRules">23/09/2022</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Other relevant diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="otherRelevantDiagnosis">Frailty</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfDiagnosis">Yes</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of prognosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfPrognosis">Yes</div>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- CLINICAL FEATURES -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Clinical features</h2>

                    <dl class="govuk-summary-list" id="clicnicalFeaturesContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details of the clinical features
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="clinicalFeatures">Worsening symptons, rapid decline, despit
                                    optimal maangement, severe frailty.</div>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- TREATMENT -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Treatment</h2>

                    <dl class="govuk-summary-list" id="treatmentContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Purpose of treatment and response
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="treatment">Treatment declined, no further treatment
                                    available under palliative care.</div>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Your profile details</h2>

                    <dl class="govuk-summary-list govuk-body govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="yourName">Jean Grey</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="role"> General practitioner</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="professionalRegNum">ABCDE12345</div>
                            </dd>
                        </div>
                        <!--                    <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                            </dd>
                        </div>-->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your mobile number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="mobile">07100 000 006</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="organisationName">The Magpie Trust</div>
                                <div id="organisationAddressLine1">02 Royal Hospital Road</div>
                                <div id="organisationAddressLine2"></div>
                                <div id="organisationTownCity">Glenrothes</div>
                                <div id="organisationPostcode">SE1 AAA</div>
                            </dd>
                        </div>
                    </dl>

                    <!-- ########€€€€€###### -->
                    <!-- Manage the SR1 form -->
                    <!-- ######€€€€€######## -->
                    <div class="govuk-button-group">
                        <button id="" class="govuk-button" data-module="govuk-button" onclick="resendingSR1Form()">
                            Resend SR1 form
                        </button>
                    </div>

                   <!--
                    <p class="govuk-body"><a href="#" id="" class="govuk-link" onclick="window.print();">Print</a></p>
                    -->

                    <button class="govuk-link govuk-body-s gem-c-print-link__button govuk-!-margin-bottom-6" onclick="window.print();">Print this form</button>

                    <!--
                    <p class="govuk-body"><a href="https://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf"
                            target="_blank" download id="" class="govuk-link">Download <span id="downloadName"></span>
                            <span id="downloadID"></span> (PDF, 2MB)</a></p>
                            -->

                    <!-- Component publishing-->
                    <section class="gem-c-attachment govuk-!-display-none-print">
                        <div class="gem-c-attachment__thumbnail">
                            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true"
                                href="https://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf">
                                <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140"
                                    width="99" height="140" aria-hidden="true">
                                    <path
                                        d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z"
                                        stroke-width="0"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="gem-c-attachment__details">
                            <h2 class="gem-c-attachment__title">
                                <a class="govuk-link gem-c-attachment__link" target="_self" href="#"><span id="downloadName"></span> SR1 form</a>
                            </h2>

                            <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr
                                        title="Portable Document Format"
                                        class="gem-c-attachment__abbr">PDF</abbr></span>,
                                <span class="gem-c-attachment__attribute">19.5 KB</span>
                            </p>

                            <p class="gem-c-attachment__metadata">This file may not be suitable for users of assistive
                                technology.</p>
                            <details class="gem-c-details govuk-details govuk-!-margin-bottom-3"
                                data-module="govuk-details gem-details" data-govuk-details-module-started="true"
                                data-gem-details-module-started="true">
                                <summary class="govuk-details__summary" data-details-track-click="">
                                    <span class="govuk-details__summary-text">
                                        Request an accessible format.
                                    </span>
                                </summary>
                                <div class="govuk-details__text">

                                    If you use assistive technology (such as a screen reader) and need a version of this
                                    document in a more accessible format, please email <a
                                        href="mailto:sr1.servicedesk@nhs.net" target="_blank"
                                        class="govuk-link">sr1.servicedesk@nhs.net</a>. Please tell us what format you
                                    need. It will help us if you say what assistive technology you use.

                                </div>
                            </details>
                        </div>
                    </section>

                </fieldset>
            </div>

        </form>
    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}