{% extends "layout.html" %}

{% block pageTitle %}
What medical evidence we ask for
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            <!-- Supporting your patient's Special Rules benefit claim  -->
            How to tell DWP that your patient is eligible for the Special Rules for end of life
        </h1>

        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>

        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation"
            data-module="gem-track-click" data-gem-track-click-module-started="true">
            <h2 class="govuk-heading-m">
                Contents
            </h2>
            <ul class="govuk-list govuk-list--bullet gem-c-contents-list__list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v03/">Overview</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v03/landing-pages/who-can-send-an-sr1-form">Who can send medical evidence</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    What medical evidence we ask for
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v03/landing-pages/send-an-online-sr1-form">How to send medical evidence online</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v03/landing-pages/other-ways-to-send-an-sr1-form">Other ways to send medical evidence</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div id="guide-contents">
            <h2 class="govuk-heading-l">What medical evidence we ask for</h2>

            <p class="govuk-body">The SR1 form asks for medical evidence of:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>diagnosis/diagnoses and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>whether the patient is aware of their diagnosis and prognosis</li>
                <li>clinical features that indicate a severe progressive condition (for example, investigation results,
                    staging if appropriate)</li>
                <li>information about treatment that has been received, is ongoing or is planned</li>
            </ul>

            <p class="govuk-body">You do not need to give a specific prognosis. Please use language that you would
                normally use when communicating with other clinicians.</p>
            <!-- <p class="govuk-body">If you are a GP or GMC registered consultant, you can claim a fee for completing an SR1 form, which will be paid into your bank or building society account.</p> -->

            <!-- Previous and Next navigation -->
            <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link"
                        href="/hcp-e2e-journey-v03/landing-pages/who-can-send-an-sr1-form" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                            focusable="false" viewBox="0 0 15 13">
                            <path
                                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                            </path>
                        </svg>
                        <span class="govuk-pagination__link-title">Previous</span>
                        <span class="govuk-visually-hidden">:</span>
                        <span class="govuk-pagination__link-label">Who can send medical evidence</span>
                    </a>
                </div>

                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link"
                        href="/hcp-e2e-journey-v03/landing-pages/send-an-online-sr1-form" rel="next">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                            focusable="false" viewBox="0 0 15 13">
                            <path
                                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                            </path>
                        </svg>
                        <span class="govuk-pagination__link-title">Next</span>
                        <span class="govuk-visually-hidden">:</span>
                        <span class="govuk-pagination__link-label">How to send medical evidence online</span>
                    </a>
                </div>
            </nav>

            <!-- Print version -->
            <div class="responsive-bottom-margin">
                <a href="/hcp-e2e-journey-v03/landing-pages/print"
                    class="govuk-link govuk-link--no-visited-state govuk-body">View a printable version of the whole
                    guide</a>
            </div>
        </div>

    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Related content</h2>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/the-special-rules-how-the-benefit-system-supports-people-nearing-the-end-of-life#what-to-do-with-a-completed-sr1-form">The
                    Special Rules: how the benefit system supports people nearing the end of life</a></p>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/dwp-medical-factual-reports-a-guide-to-completion">DWP
                    Medical (factual) reports: a guide to completion</a></p>
        </div>
    </div>
</div>
{% endblock %}