{% extends "layout-gov-reduced.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/hcp-e2e-journey-mvp02/confirmation-page" method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Check your answers before sending the SR1 form
                        </h1>
                    </legend>

                    <!-- Inset text -->
                    <div class="govuk-inset-text">
                        <p>Accurate information about your patient's condition and treatment will reduce delays to their
                            Special Rules claim.</p>
                    </div>

                    <!-- ################# -->
                    <!-- PATIENT'S DETAILS -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Patient details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="patientDetailsContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Full name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="PatientFullName">Robert Drake</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-01">
                                    Change<span class="govuk-visually-hidden"> the patient’s full name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dob">12/01/1970</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-02">
                                    Change<span class="govuk-visually-hidden"> the patient's date of birth</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="patientaddressline1">86 Claremont Cove</div>
                                <div id="patientaddressline2"></div>
                                <div id="patientaddresstown">Glenrothes</div>
                                <div id="patientPostcode">SE1 ABC</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-03">
                                    Change<span class="govuk-visually-hidden"> the patient's address</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National Insurance Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="niNo">QQ 12 34 56 C</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-05">
                                    Change<span class="govuk-visually-hidden"> the patient's National Insurance number</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ############## -->
                    <!-- DIAGNOSIS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Diagnosis</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="diagnosisDataContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="whatIsTheDiagnosis">End stage COPD</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-07">
                                    Change<span class="govuk-visually-hidden"> the diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofDiagnosis">01/2022</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-08">
                                    Change<span class="govuk-visually-hidden"> the date of diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date the patient met the Special Rules
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="dateofSpecialRules">23/09/2022</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-06">
                                    Change<span class="govuk-visually-hidden"> the date the patient met the Special Rules</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Other relevant diagnosis 
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="otherRelevantDiagnosis">Frailty</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-09">
                                    Change<span class="govuk-visually-hidden"> other relevant diagnsis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfDiagnosis">Yes</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-10">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of prognosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="awareOfPrognosis">Yes</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-11">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their prognosis</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- CLINICAL FEATURES -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Clinical features</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="clicnicalFeaturesContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details of the clinical features
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="clinicalFeatures">Worsening symptons, rapid decline, despit
                                    optimal maangement, severe frailty.</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-12">
                                    Change<span class="govuk-visually-hidden"> details of clinical features</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- TREATMENT -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Treatment</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="treatmentContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Purpose of treatment and response
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="treatment">Treatment declined, no further treatment
                                    available under palliative care.</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/sr1-form-c-13">
                                    Change<span class="govuk-visually-hidden"> purpose of treatment and response</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Your profile details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="yourName">Jean Grey</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-01" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="role">Specialty doctor</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-02" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="professionalRegNum">ABCDE12345</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-03" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your professional registration number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your mobile number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="mobile">07100 000 006</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-04" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your mobile number</span>
                                </a>
                            </dd>
                        </div>
                        <!--
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="organisationName">The Magpie Trust</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-05" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> organisation name</span>
                                </a>
                            </dd>
                        </div>
                    -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="organisationName">The Magpie Trust</div>
                                <div id="organisationAddressLine1">123 Any Street</div>
                                <div id="organisationAddressLine2"></div>
                                <div id="organisationTownCity">Anytown</div>
                                <div id="organisationPostcode">AN1 TWN</div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-05" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- DECLARATION -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Declaration</h2>

                    <p class="govuk-body">You confirm that:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>the person named in this report is your patient</li>
                        <li>this is a full report of their condition and treament</li>
                    </ul>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
            </div>
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage()>
                    I agree &ndash; send the form
                </button>
                <a class="govuk-link" data-module="govuk-button" href="/hcp-e2e-journey-mvp02/edit-incomplete-filled-form-saved">
                    Save and come back later
                </a>
            </div>
        </form>
    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
                <li class="govuk-!-margin-top-5">All services are available Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}