{% extends "layout.html" %}

{% block pageTitle %}
Check your profile details are correct
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="profileSetupPage" action="/hcp-e2e-journey-mvp02/account-new-dashboard" method="post" autocomplete="off">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Check your profile details are correct
                            </h1>
                        </legend>

                        <!-- Inset text -->
                        <div class="govuk-inset-text">
                            <!-- <p>To save you time, we will automatically use your profile details on every SR1 form you complete.</p> 
                            <p>We will automatically add your profile details on every SR1 form you send.</p> -->
                            <p>You can change your profile details at any time in your account.</p>
                        </div>

                        <!-- ############## -->
                        <!-- PERSON DETAILS -->
                        <!-- ############## -->
                        <!--
                        <h2 class="govuk-heading-l">Your profile details</h2>
                        -->

                        <dl class="govuk-summary-list" id="profileData">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="name"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-01-new" onclick="changingPractitionerNameNewFn()">
                                      Change<span class="govuk-visually-hidden"> your name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your role
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="role"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-02-new" onclick="changingPractitionerRoleNewFn()">
                                      Change<span class="govuk-visually-hidden"> your role</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your professional registration number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="professionalRegNum"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-03-new" onclick="changingPractitionerRegNoNewFn()">
                                      Change<span class="govuk-visually-hidden"> your professional registration number</span>
                                    </a>
                                </dd>
                            </div>
                            <!--
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="emailAddress"></div>
                                </dd>
                            </div>
                        -->
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your phone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="mobile"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-04-new" onclick="changingPractitionerPhoneNoNewFn()">
                                      Change<span class="govuk-visually-hidden"> your mobile number</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your organisation
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="organisationName"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-05" onclick="changingPractitionerOrgNameNewFn()">
                                        Change<span class="govuk-visually-hidden"> your organisation's name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Your organisation's address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div id="organisationName"></div>
                                    <div id="organisationAddressLine1"></div>
                                    <div id="organisationAddressLine2"></div>
                                    <div id="organisationTownCity"></div>
                                    <div id="organisationPostcode"></div>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/hcp-e2e-journey-mvp02/profile-07-a-new" onclick="changingPractitionerOrgAddressNewFn()">
                                      Change<span class="govuk-visually-hidden"> organisation address</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>

                    </fieldset>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                </div>
                <div class="govuk-button-group">
                    <!-- <button id="" class="govuk-button" data-module="govuk-button" onclick="hcpmvp02ProfileDetailsCompleteFn(event)"> -->
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="profileTriggeredV04()">
                        Save and continue
                    </button>
                </div>
            </form>
        </div>

        <!-- Side panel
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
        -->
    </div>

{% endblock %}