{% extends "layout.html" %}

{% block pageTitle %}
Give feedback on Send an SR1 – Send an SR1 – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Give feedback on Send an SR1</h1>

        <form action="/form-handler" method="post" novalidate>
            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <label class="govuk-label govuk-label--m" for="why-visited-this-service">
                    Why did you visit this service today?
                </label>
                <div id="contact-hint" class="govuk-hint">
                    Select one option.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service" name="why-visited-this-service"
                            type="radio" value="to submit an SR1 form">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service">
                            To submit an SR1 form
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-2"
                            name="why-visited-this-service" type="radio" value="To start an SR1 form">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-2">
                            To start an SR1 form
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-3"
                            name="why-visited-this-service" type="radio" value="to find out more an SR1">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-3">
                            To find out more an SR1
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-4"
                            name="why-visited-this-service" type="radio"
                            value="to retrieve an SR1 i have previously submitted">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-4">
                            To retrieve an SR1 I have previously submitted
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-5"
                            name="why-visited-this-service" type="radio" value="To start an SR1 form">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-5">
                            To start an SR1 form
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-6"
                            name="why-visited-this-service" type="radio"
                            value="to finish and submit an incomplete SR1 form ">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-6">
                            To finish and submit an incomplete SR1 form
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-7"
                            name="why-visited-this-service" type="radio"
                            value="to finish and submit an incomplete SR1 form ">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-7">
                            To change my account settings
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-visited-this-service-8"
                            name="why-visited-this-service" type="radio" value="text"
                            data-aria-controls="conditional-something-else">
                        <label class="govuk-label govuk-radios__label" for="why-visited-this-service-8">
                            Something else
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="conditional-something-else">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="something-else">
                                Please specify
                            </label>
                            <input class="govuk-input govuk-!-width-two-third" id="something-else" name="something-else"
                                type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="satisfaction-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Overall, how satisfied do you feel about this service?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="satisfaction" name="satisfaction" type="radio"
                                value="very satisfied">
                            <label class="govuk-label govuk-radios__label" for="satisfaction">
                                Very satisfied
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="satisfaction-2" name="satisfaction" type="radio"
                                value="satisfied">
                            <label class="govuk-label govuk-radios__label" for="satisfaction-2">
                                Satisfied
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="satisfaction-3" name="satisfaction" type="radio"
                                value="neither satisfied nor dissatisfied">
                            <label class="govuk-label govuk-radios__label" for="satisfaction-3">
                                Neither satisfied nor dissatisfied
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="satisfaction-4" name="satisfaction" type="radio"
                                value="dissatisfied">
                            <label class="govuk-label govuk-radios__label" for="satisfaction-4">
                                Dissatisfied
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="satisfaction-5" name="satisfaction" type="radio"
                                value="very issatisfied">
                            <label class="govuk-label govuk-radios__label" for="satisfaction-5">
                                Very dissatisfied
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <label class="govuk-label govuk-label--m" for="more-about-satisfaction">
                    Can you tell us more about your answer to the previous question?
                </label>
                <div id="contact-hint" class="govuk-hint">
                    Select one option.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="able-to-complete-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Were you able to complete what you needed to do today?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="able-to-complete" name="able-to-complete"
                                type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="able-to-complete">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="able-to-complete-no" name="able-to-complete"
                                type="radio" value="no" data-aria-controls="not-able-to-complete">
                            <label class="govuk-label govuk-radios__label" for="able-to-complete-no">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="not-able-to-complete">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="able-to-complete-no">
                                    Please tell us what information you were looking for
                                </label>
                                <textarea class="govuk-textarea" id="able-to-complete-no" name="able-to-complete-no"
                                    rows="5" type="text"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="support-using-service-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Did you need any support in using this service?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="support-using-service-yes"
                                name="support-using-service" type="radio" value="yes"
                                data-aria-controls="yes-support-using-service">
                            <label class="govuk-label govuk-radios__label" for="support-using-service-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="yes-support-using-service">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="support-using-service-yes">
                                    Please tell us where you went for support
                                </label>
                                <textarea class="govuk-textarea" id="support-using-service-yes"
                                    name="support-using-service-yes" rows="5" type="text"></textarea>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="support-using-service-no"
                                name="support-using-service" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="support-using-service-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="reminder-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Did you get a reminder to complete your SR1?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reminder-yes" name="reminder" type="radio"
                                value="yes" data-aria-controls="yes-reminder">
                            <label class="govuk-label govuk-radios__label" for="reminder-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reminder-no" name="reminder" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="reminder-no">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reminder-no" name="reminder" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="reminder-no">
                                N/A
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="rate-experience-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Rate your experience of logging in to the service
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="very-poor" name="rate-experience" type="radio"
                                value="very-poor">
                            <label class="govuk-label govuk-radios__label" for="rate-experience-yes">
                                Very poor
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="poor" name="rate-experience" type="radio"
                                value="poor">
                            <label class="govuk-label govuk-radios__label" for="rate-experience-no">
                                Poor
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="neutral" name="rate-experience" type="radio"
                                value="neutral">
                            <label class="govuk-label govuk-radios__label" for="rate-experience-no">
                                Neutral
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="good" name="rate-experience" type="radio"
                                value="good">
                            <label class="govuk-label govuk-radios__label" for="rate-experience-no">
                                Good
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="excellent" name="rate-experience" type="radio"
                                value="excellent">
                            <label class="govuk-label govuk-radios__label" for="excellent">
                                Excellent
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="service-use-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        On average how often are you likely to use this service?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="daily" name="service-use" type="radio" value="daily">
                            <label class="govuk-label govuk-radios__label" for="daily">
                                Daily
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="weekly" name="service-use" type="radio"
                                value="weekly">
                            <label class="govuk-label govuk-radios__label" for="weekly">
                                Weekly
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="bi-monthly" name="service-use" type="radio"
                                value="bi-monthly">
                            <label class="govuk-label govuk-radios__label" for="bi-monthly">
                                Bi-monthly
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="monthly" name="service-use" type="radio"
                                value="monthly">
                            <label class="govuk-label govuk-radios__label" for="monthly">
                                Monthly
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other" name="service-use" type="radio" value="other"
                                data-aria-controls="conditional-other">
                            <label class="govuk-label govuk-radios__label" for="other">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="other">
                                    Please specify
                                </label>
                                <input class="govuk-input govuk-!-width-two-third" id="other" name="other" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="more-than-one-form-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you complete more than one SR1 form in one session?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="more-than-one-form-yes" name="more-than-one-form"
                                type="radio" value="yes" data-aria-controls="yes-more-than-one-form">
                            <label class="govuk-label govuk-radios__label" for="more-than-one-form-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="more-than-one-form-no" name="more-than-one-form"
                                type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="more-than-one-form-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="participate-research-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Would you be interested in participating in follow up research to tell us more about your experience with this service?
                    </legend>
                    <!--<div id="contact-hint" class="govuk-hint">
                    Select one option.</div>-->
                    <p class="govuk-body">By signing up to research you are giving consent for a Department of Work and Pensions researcher to contact you about upcoming research and how to take part.</p>
                    <p class="govuk-body">You will be contacted when volunteers are needed for research to improve the Send an SR1 service.</p>
                    <p class="govuk-body">You do not have to take part in any research you are contacted about and you can choose to stop being contacted at any time.</p>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="participate-research-yes"
                                name="participate-research" type="radio" value="yes"
                                data-aria-controls="yes-participate-research">
                            <label class="govuk-label govuk-radios__label" for="participate-research-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="yes-participate-research">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="participate-research-yes">
                                    Please provide contact details
                                </label>
                                <input class="govuk-input govuk-!-width-two-third" id="participate-research-yes"
                                    name="participate-research-yes" type="text">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="participate-research-no"
                                name="participate-research" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="participate-research-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <!--<h2 class="govuk-heading-l">Declaration</h2>-->
                    <p class="govuk-body">You are about to submit your response. By clicking 'Submit Response' you give us permission to analyse and include your response in our results. After you click 'Submit response', you will no longer be able to go back and change any of your answers.</p>
                    <p class="govuk-body">If you provide an email address you will be sent a receipt and a link to a PDF copy of your response.</p>
            </div>


            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveFeedback()">
                    Submit response
                </button>
            </div>
        </form>

        <!--Get help bottom
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body"><a class="govuk-link"
                            href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources"
                            target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                    <ul class="govuk-list">
                        <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                        <li>Telephone: 0300 303 5035</li>
                    </ul>
                </div>
            </div>
        </section>-->
    </div>
</div>

{% endblock %}