{% extends "layout.html" %}

{% block pageTitle %}
You have signed out – Send an SR1 – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You have signed out</h1>
        </div>
    -->
        <h1 class="govuk-heading-xl">
            You have signed out
        </h1>

<!--        <p class="govuk-body"><a href="/hcp-e2e-journey-mvp02/signin-page">Sign in</a> again to send another SR1 form.</p> -->
        <p class="govuk-body">You can now close this window.</p>
        <!--<p class="govuk-body">If you want to send another SR1 form</p> -->
        <a class="govuk-button" href="/hcp-e2e-journey-mvp02">Sign back in</a>

        <div class="govuk-!-padding-bottom-6"></div>

            <h3 class="govuk-heading-m">Give feedback</h3>

            <p><a href="#" target="_blank">What did you think of this service? (opens in a new tab)</a></p>
            <p><a href="#" target="_blank">Volunteer to take part in research about this service (opens in a new tab)</a></p>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help bottom-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body"><a class="govuk-link"
                            href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources"
                            target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                    <ul class="govuk-list">
                        <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                        <li>Telephone: 0300 303 5035</li>
                        <li class="govuk-!-margin-top-5">All services are available Monday to Friday, 9am to 5pm (except public holidays)</li>
                    </ul>
                </div>
            </div>
        </section>
        
        

        <!--
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/hcp-e2e-journey-mvp02/signin-page">try to confirm your identity again</a></li>
                <li><a href="/hcp-e2e-journey-mvp02/">go back to the SR1 service page</a></li>
                <li>leave the page</li>
            </ul>
            -->


    </div>

    
    <!-- Side panel 
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Related content</h2>
            <p><a
                    href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources#what-to-do-with-a-completed-sr1-form">The
                    Special Rules: how the benefit system supports people nearing the end of life</a></p>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/dwp-medical-factual-reports-a-guide-to-completion">DWP
                    Medical (factual) reports: a guide to completion</a></p>
        </div>
    </div>
    -->
</div>
{% endblock %}