{% extends "layout-gov-reduced.html" %}

{% block pageTitle %}
Error: What clinical features indicate a severe progressive condition? – Send an SR1 – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/hcp-e2e-journey-mvp02/sr1-form-13" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l"> Question 11 of 17</span>
                        <h1 class="govuk-fieldset__heading">
                            What clinical features indicate a severe progressive condition? 
                        </h1>
                    </legend>

                    <!-- Give the details of the clinical features that indicate a severe progressive condition -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
                        <div class="govuk-form-group">
                            <div id="detailsOfClinicalFeatures-hint" class="govuk-hint">
                                For example, rate of progression, recurrence, staging, tumour markers, bulbar
                                involvement, end-stage disease.
                            </div>
                            <textarea class="govuk-textarea govuk-input--width-20 govuk-js-character-count"
                                id="detailsOfClinicalFeatures" name="detailsOfClinicalFeatures" rows="5"
                                aria-describedby="detailsOfClinicalFeatures-info"></textarea>
                        </div>
                        <div id="detailsOfClinicalFeatures-info" class="govuk-hint govuk-character-count__message">You
                            can enter up to 250 characters</div>
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="saveClinicalFeaturesSR1Formmvp02()">
                    Save and continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form question list" href="#">Return to SR1 form question list</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-9"></div>

        <!--Get help bottom-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body"><a class="govuk-link"
                            href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources"
                            target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                    <ul class="govuk-list">
                        <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                        <li>Telephone: 0300 303 5035</li>
                        <li class="govuk-!-margin-top-5">All services are available Monday to Friday, 9am to 5pm (except public holidays)</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- Side panel
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div> -->
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveClinicalFeaturesSR1Formmvp02();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsmvp02(origin, "/hcp-e2e-journey-mvp02/task-list-sr1-form");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}