{% extends "layout.html" %}
{% block pageTitle %}
Create a password
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form id="createPassword" action="/auth-onboard-v01/no-existing-account/account-created" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Create a password
                            </h1>
                        </legend>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="password">
                                <strong>Password</strong>
                            </label>
                            <div id="password-hint" class="govuk-hint govuk-!-width-three-quarters">
                                Your password must be at least 8 characters long
                            </div>
                            <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="password">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="repeat-password">
                                <strong>Repeat password</strong>
                            </label>
                            <div id="repeat-password-hint" class="govuk-hint govuk-!-width-three-quarters">
                                Your password must match
                            </div>
                            <input class="govuk-input govuk-!-width-three-quarters" id="repeat-password" name="repeat-password" type="password">
                        </div>
                
                    </fieldset>
                    
                </div>

                <!-- Continue -->
                <div class="govuk-button-group">
                    <button id="aoV01SignInSubmitBtn" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}