{% extends "layout.html" %}
{% block pageTitle %}
    Enter your email address
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form id="forgotYourPassword" action="/auth-onboard-v01/no-existing-account/enter-confirmation-code" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Enter your email address
                            </h1>
                        </legend>

                        <p>This will only be used to send you security updates or if you need to recover your sign in details.</p>
                        <p>To confirm it is your email address, we will send you a code.</p>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="email">
                                <strong>Email address</strong>
                            </label>
                            <div id="forgotPassword-hint" class="govuk-hint govuk-!-width-three-quarters">
                                For example, name@example.com
                            </div>
                            <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text">
                        </div>
                
                    </fieldset>
                    
                </div>

                <!-- Continue -->
                <div class="govuk-button-group">
                    <button id="aoV01SignInSubmitBtn" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}