{% extends "layout.html" %}

{% block pageTitle %}
Send evidence if your patient is eligible for the Special Rules for end of life
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send evidence if your patient is eligible for the Special Rules for end of life
        </h1>

        <div class="govuk-!-display-none-print">
            <p class="gem-c-lead-paragraph govuk-!-margin-bottom-6">Printable version</p>
        </div>
        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
            <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link"
                data-track-category="printButton" data-track-action="clicked" data-track-label="Print this page"
                data-ga4="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;Print this page&quot;,&quot;index&quot;:1,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Contents&quot;}"
                data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this
                page</button>
        </div>

        <div class="govuk-inset-text">
            This guide is also available <a href="#">in Welsh (Cymraeg)</a>.
        </div>

        <div id="guide-contents">
            <!-- 1 Overview -->
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l">1. Overview</h2>
                <p class="govuk-body">Clinicians can be asked to provide medical evidence on an SR1 form to support a
                    benefit claim made under the Special Rules.</p>

                <p class="govuk-body">The Special Rules allow people nearing the end of life to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>get faster, easier access to certain benefits </li>
                    <li>get higher payments for certain benefits </li>
                    <li>avoid a medical assessment</li>
                </ul>

                <p class="govuk-body">You should complete an SR1 form promptly if you believe that your patient:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>has a progressive disease, and</li>
                    <li>you would not be surprised if they were to live for less than 12 months</li>
                </ul>
            </div>




            <!-- 2 Who can send an SR1 form -->
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l">2. Who can send an SR1 form</h2>

                <p class="govuk-body">To send an SR1 form, you must be a:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>GP</li>
                    <li>hospital consultant</li>
                    <li>specialist doctor</li>
                    <li>hospice doctor</li>
                    <li>senior specialist nurse (such as a clinical nurse specialist, advanced nurse practitioner or
                        similar)</li>
                </ul>
            </div>

            <!-- <p class="govuk-body">You do not need to give a specific prognosis. Please use language that you would normally use when communicating with other clinicians.</p> -->
            <p class="govuk-body">If you are a GP or GMC registered consultant, you can claim a fee for completing an
                SR1 form, which will be paid into your bank or building society account.</p>




            <!-- 3 How to send an SR1 form online -->
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l">3. What to include in an SR1 form</h2>
                <p class="govuk-body">The SR1 form asks for medical evidence of:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>diagnosis/diagnoses and other relevant conditions</li>
                    <li>date of diagnosis</li>
                    <li>whether the patient is aware of their diagnosis and prognosis</li>
                    <li>clinical features that indicate a severe progressive condition (for example, investigation
                        results,
                        staging if appropriate)</li>
                    <li>information about treatment that has been received, is ongoing or is planned</li>
                </ul>

                <p class="govuk-body">You do not need to give a specific prognosis. Please use language that you would
                    normally use when communicating with other clinicians.</p>
            </div>





            <!-- 4 How to send an online SR1 form -->
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l">4. How to send an online SR1 form</h2>
                <p class="govuk-body">To send an online SR1 form, you will need an account.</p>
                <p class="govuk-body">In your account, you can:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>create a profile to add your details to your SR1 forms</li>
                    <li>save incomplete SR1 forms</li>
                    <li>set reminders for incomplete SR1 forms</li>
                    <li>view, download, and print completed SR1 forms</li>
                </ul>

                <h3 class="govuk-heading-m">What you will need</h3>

                <p class="govuk-body">You will need to tell us your patient’s:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>National Insurance number</li>
                    <li>diagnosis and other relevant conditions</li>
                    <li>date of diagnosis</li>
                    <li>date that they have met the criteria under special rules</li>
                    <li>clinical features that indicate a severe progressive condition</li>
                    <li>treatment plan</li>
                </ul>

                <h3 class="govuk-heading-m">If you are using the service for the first time</h3>
                <p class="govuk-body">You must create your profile when you sign in for the first time.</p>
                <p class="govuk-body">To complete your profile, you need your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>professional registration number</li>
                    <li>mobile number</li>
                    <li>organisation name and address</li>
                </ul>

                <a href="/hcp-e2e-journey-mvp01/signin-page" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>

            <!-- <h3 class="govuk-heading-s">By email</h3>
                <p class="govuk-body">Request an electronic version of the SR1 form and the fee form using a secure email address.</p>
                <p class="govuk-body">Secure email addresses end in:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>@nhs.net</li>
                    <li>@nhs.uk</li>
                    <li>@nhs.scot</li>
                    <li>@nhs.wales.uk</li>
                    <li>@gov.uk</li>
                </ul>
                <p class="govuk-body">Do not encrypt any part of the email. Any email that does not come from a secure email account will be automatically deleted.</p>
                <p class="govuk-body">No signature is required on either form for this method of return.</p>
                <p class="govuk-body">Send the request for an electronic version of the SR1 form, and fee form if required, to form.e-sr1@dwp.gov.uk. with your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>surgery/hospital/postal address</li>
                    <li>phone number</li>
                </ul>
                <h3 class="govuk-heading-s">By post</h3>
                <p class="govuk-body">If you've completed a paper copy of the SR1 form or fee form, please sign it. Only original signed copies of these forms will be accepted by post.</p>
                <p class="govuk-body">There are 2 options for returning the forms to us:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>give the SR1 form to the person who requested it and return the fee form separately to us, or</li>
                    <li>post the completed SR1 form and fee form directly to: [address]</li>
                </ul>
                <p class="govuk-body">When returning SR1 forms, please use a separate envelope for each patient. Do not staple documents together.</p>
                <h3 class="govuk-heading-s">Requesting paper SR1 forms</h3>
                <p class="govuk-body">It's easier and quicker to complete an SR1 form online but if you're unable to access the online service, we can accept paper versions.</p>
                <p class="govuk-body">Requests for a book of paper SR1 forms must be made on this <a href="#" target="_blank">order form for DWP information materials (opens in a new tab)</a>.</p>
                <p class="govuk-body">Return the form along with a cover letter on headed paper. The cover letter should include a list of clinicians who may complete SR1 forms.</p>
                <p class="govuk-body">Return the order form and cover letter by:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>post to [address]</li>
                    <li>fax to HH Global Limited on 0300 373 0125</li>
                    <li>email to dwp@hhglobal.comvia a secure email account</li>
                </ul>
                <p class="govuk-body">If you have any questions about this process, call the HH Global Limited helpline on 0333 016 9656.</p> -->



            <!-- 5 Other ways to send an SR1 form -->
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l">5. Other ways to send an SR1 form</h2>
                <h3 class="govuk-heading-s">By email</h3>

                <p class="govuk-body">Request an electronic version of the SR1 form and the fee form using a secure
                    email
                    address.</p>
                <p class="govuk-body">Secure email addresses end in:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>@nhs.net</li>
                    <li>@nhs.uk</li>
                    <li>@nhs.scot</li>
                    <li>@nhs.wales.uk</li>
                    <li>@gov.uk</li>
                </ul>

                <p class="govuk-body">Do not encrypt any part of the email. Any email that does not come from a secure
                    email
                    account will be automatically deleted.</p>
                <p class="govuk-body">No signature is required on either form for this method of return.</p>
                <p class="govuk-body">Send the request for an electronic version of the SR1 form, and fee form if
                    required,
                    to form.e-sr1@dwp.gov.uk. with your:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>surgery/hospital/postal address</li>
                    <li>phone number</li>
                </ul>

                <h3 class="govuk-heading-s">By post</h3>

                <p class="govuk-body">If you've completed a paper copy of the SR1 form or fee form, please sign it. Only
                    original signed copies of these forms will be accepted by post.</p>
                <p class="govuk-body">There are 2 options for returning the forms to us:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>give the SR1 form to the person who requested it and return the fee form separately to us, or
                    </li>
                    <li>post the completed SR1 form and fee form directly to: [address]</li>
                </ul>

                <p class="govuk-body">When returning SR1 forms, please use a separate envelope for each patient. Do not
                    staple documents together.</p>

                <h3 class="govuk-heading-s">Requesting paper SR1 forms</h3>

                <p class="govuk-body">It's easier and quicker to complete an SR1 form online but if you're unable to
                    access
                    the online service, we can accept paper versions.</p>
                <p class="govuk-body">Requests for a book of paper SR1 forms must be made on this <a href="#"
                        target="_blank">order form for DWP information materials (opens in a new tab)</a>.</p>
                <p class="govuk-body">Return the form along with a cover letter on headed paper. The cover letter should
                    include a list of clinicians who may complete SR1 forms.</p>
                <p class="govuk-body">Return the order form and cover letter by:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>post to [address]</li>
                    <li>fax to HH Global Limited on 0300 373 0125</li>
                    <li>email to dwp@hhglobal.comvia a secure email account</li>
                </ul>

                <p class="govuk-body">If you have any questions about this process, call the HH Global Limited helpline
                    on
                    0333 016 9656.</p>

                <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
                    <button class="govuk-link govuk-body-s gem-c-print-link__button"
                        data-module="ga4-event-tracker print-link" data-track-category="printButton"
                        data-track-action="clicked" data-track-label="Print this page"
                        data-ga4="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;Print this page&quot;,&quot;index&quot;:1,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Contents&quot;}"
                        data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this
                        page</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="govuk-grid-column-one-third">

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div>
                <h3 class="govuk-heading-m">Related content</h3>
                <p>copy goes here</p>
            </div>
        </div> -->
</div>
{% endblock %}