{% extends "layout.html" %}
{% block pageTitle %}
    What is the applicant's telephone number?
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="aoWhatIsYourTel" action="/auth-onboard-v01/dashboard/everything-else/new-application/check-their-answers" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="telephone-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the applicant's telephone number?
              </h1>
            </legend>
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="telephone">
                    UK telephone number
                    </label>
                <div id="telephone-number-hint" class="govuk-hint">
                    You can use a mobile or a landline number
                </div>
                <input class="govuk-input " id="telephone-number" name="telephone-number" type="text" spellcheck="false" aria-describedby="telephone-number-hint" inputmode="numeric">
            </div>
        
          </fieldset>
        </div>

          <!-- Continue -->
          <div class="govuk-button-group">
              <button id="oaTelSubmitSubmitBtn" class="govuk-button" data-module="govuk-button">
                  Continue
              </button>
          </div>
        </form>
    </div>
</div>
{% endblock %}