{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Clinical features – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="treatment " method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" for="Clinical-Features-details">
                        <h1 class="govuk-heading-l">
                            Clinical features

                          </h1>
                          <p class="govuk-body">
                            We need to know the patient's clinical features that suggest they are eligible for the Special Rules.
                          </p>
                          <p class="govuk-body">This could include:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>rate of progression</li>
                            <li>recurrence</li>
                            <li>staging</li>
                            <li>bulbar involvement</li>
                            <li>end-stage disease</li>
                          </ul>
                          <form action="/form-handler" method="post" novalidate>
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Give details of the clinical features that indicate a severe progressive condition
                                </legend>
                                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="350">
                                    <div class="govuk-form-group">
                                        <textarea class="govuk-textarea  govuk-js-character-count"
                                            id="Clinical-Features-details" name="ClinicalFeaturesdetails" Value="{data['ClinicalFeaturesdetails']}" rows="5" aria-describedby="Clinical-Features-details-info">{{data['ClinicalFeaturesdetails']}} Patient presented with classic symptoms (increased thirst, frequent urination). Lab results (HbA1c of 7.2%) confirmed the condition on . Under the care of Dr. Smith.</textarea>
                                    </div>
                                    <div id="Clinical-Features-details-info" class="govuk-hint govuk-character-count__message">You can enter up to
                                        350 characters</div>
                                </div>
            
                            </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveClinical-Features-detailsSR1Formliveversion01()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveClinicalFeaturesSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}