{% extends "layout.html" %}

{% block pageTitle %}
Completed SR1 forms
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Completed SR1 forms</h1>
    <!-- <p class="govuk-body">You can access completed SR1 forms for 30 days after you submitted them. You can resend, view, and download them. They will be archived after 30 days.</p> -->
    <p class="govuk-body">You can access completed SR1 forms for 30 days after you submit them. You can re-send, view,
      and download them.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="searchfield">
          <strong>Search by patient name
            <!-- or reference number -->
          </strong>
        </label>
        <input class="govuk-input govuk-input--width-10" id="searchField" name="searchField" type="text">
        &nbsp;&nbsp;
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search
        </button>
        &nbsp;&nbsp;
        <a class="govuk-link" href="#" onclick="clearSearchTerms()">Clear search</a>
      </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <table id="column4" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Patient name</th>
          <!-- <th scope="col" class="govuk-table__header govuk-table__header--numeric">Reference number</th> -->
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Robert Drake</th><span class="govuk-visually-hidden">Robert Drake's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY12</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">05/10/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Robert', 'Drake', '9876QWERTY12', '05/10/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lois London</th><span class="govuk-visually-hidden">Lois London's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY13</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">04/10/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Lois', 'London', '9876QWERTY13', '04/10/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Robert Drake</th><span class="govuk-visually-hidden">Robert Drake's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY12</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">30/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Robert', 'Drake', '9876QWERTY12', '30/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Nathan Essex</th><span class="govuk-visually-hidden">Nathan Essex's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY11</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">29/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Nathan', 'Essex', '9876QWERTY11', '29/19/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Anna Marie</th><span class="govuk-visually-hidden">Anna Marie's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY10</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">26/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Anna', 'Marie', '9876QWERTY10', '29/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Robert Drake</th><span class="govuk-visually-hidden">Robert Drake's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY12</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">25/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Robert', 'Drake', '9876QWERTY12', '25/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Nathan Essex</th><span class="govuk-visually-hidden">Nathan Essex's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY11</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">20/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Nathan', 'Essex', '9876QWERTY11', '20/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lois London</th><span class="govuk-visually-hidden">Lois London's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY13</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">18/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Lois', 'London', '9876QWERTY13', '18/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Robert Drake</th><span class="govuk-visually-hidden">Robert Drake's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY12</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">05/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Robert', 'Drake', '9876QWERTY12', '05/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Nathan Essex</th><span class="govuk-visually-hidden">Nathan Essex's SR1 form</span>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY11</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">01/09/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Nathan', 'Essex', '9876QWERTY11', '01/09/2022')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
      </tbody>
    </table>

    <table id="column5" class="govuk-table hidden">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Applicant name</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Reference</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date started</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date submitted</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lois London</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY13</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10/11/2022</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10/11/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Lois', 'London', '9876QWERTY13')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Robert Drake</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY12</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">05/11/2022</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">03/11/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Robert', 'Drake', '9876QWERTY12')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Nathan Essex</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY11</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">29/10/2022</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">13/10/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Nathan', 'Essex', '9876QWERTY11')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Anna Marie</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">9876QWERTY10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10/09/2022</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">08/08/2022</td>
          <td class="govuk-table__cell"><a href="/hcp-e2e-journey-v09/sent-sr1-form"
              onclick="completePrefilledFormName('Anna', 'Marie', '9876QWERTY10')">View</a><span class="govuk-visually-hidden"> View</span></td>
        </tr>

      </tbody>
    </table>

    <!-- Pagination -->
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/hcp-e2e-journey-v09/completed-sr1-forms" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
            height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
            </path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden"> Previous page</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a id="page1Link" class="govuk-link govuk-pagination__link" href="/hcp-e2e-journey-v09/completed-sr1-forms"
            aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a id="page2Link" class="govuk-link govuk-pagination__link" href="/hcp-e2e-journey-v09/completed-sr1-forms-2"
            aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a id="page3Link" class="govuk-link govuk-pagination__link" href="/hcp-e2e-journey-v09/completed-sr1-forms-3"
            aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/hcp-e2e-journey-v09/completed-sr1-forms-3" rel="next"> <span
            class="govuk-pagination__link-title">Next</span> <span class="govuk-visually-hidden"> Next page</span><svg
            class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
            width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg></a>
      </div>
    </nav>
  </div>

  <!-- Side panel -->
  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">Get help</h2>
      <p class="govuk-body"><a class="govuk-link"
          href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
          target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
      <ul class="govuk-list">
        <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
        <li>Telephone: 0300 303 5035</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}