{% extends "layout.html" %}

{% block pageTitle %}
Create your profile
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/hcp-e2e-journey-v09/profile-07" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" for="postcode">
                        <span class="govuk-caption-l">Section 6 of 6</span>
                        <h1 class="govuk-fieldset__heading">
                            What is your organisation’s address? 
                        </h1>
                    </legend>

                    <!-- Patient postcode -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postcode">Enter your organisation’s postcode.</label>
                        <div id="hint-76b66975" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                            For example SW6 2AA
                        </div>
                        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"
                            autocomplete="off">
                    </div>
                </fieldset>
            </div>


            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveOrgPostcodev09(); resetChangeFn();">
                    Find address
                </button>
            </div>
            <!-- <p class="govuk-body"><a id="postcode-finder-link" class="govuk-link" rel="external" href="https://www.royalmail.com/find-a-postcode" target="_blank">Find a postcode on Royal Mail's postcode finder (open in a new tab)</a></p> -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="cannot-find-address"><a id="postcode-finder-link" class="govuk-link"
                        rel="external" href="/hcp-e2e-journey-v09/profile-07-a">Enter your organisation's address
                        manually</a></label>
            </div>
        </form>

    </div>

    <!-- Side panel 
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
-->
</div>
{% endblock %}