{% extends "layout.html" %}

{% block pageTitle %}
Create your profile
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/hcp-e2e-journey-v09/profile-details" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Section 6 of 6</span>
                        <h1 class="govuk-fieldset__heading">
                            What is your organisation’s address?
                        </h1>
                    </legend>

                    <!-- Organisation postcode -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postcode">Postcode</label>
                        <span id="postcode" class="govuk-heading-s govuk-!-margin-top-0"></span>
                        <div class="govuk-heading-s govuk-!-margin-top-0" id="postcode"><a id="postcode-finder-link" style="text-indent:4em" class="govuk-link" rel="external" href="/hcp-e2e-journey-v09/save-your-details/profile-06">Change postcode</a></div>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="organisationAddress">
                            Select an address
                        </label>
                        <select class="govuk-select" id="organisationAddressLine1" name="organisationAddressLine1"
                            aria-describedby="organisationAddress-hint" onchange="hcpv09AddressFn()">
                            <option value="choose" selected>4 Addresses found</option>
                            <option class="govuk-select" id="organisationAddressLine1" name="organisationAddressLine1" type="text" value="02 Royal Hospital Road">02 Royal Hospital Road, London</option>
                            <option class="govuk-select" id="organisationAddressLine1" name="organisationAddressLine1" type="text" value="04 Royal Hospital Road">04 Royal Hospital Road, London</option>
                            <option class="govuk-select" id="organisationAddressLine1" name="organisationAddressLine1" type="text" value="06 Royal Hospital Road">06 Royal Hospital Road, London</option>
                            <option class="govuk-select" id="organisationAddressLine1" name="organisationAddressLine1" type="text" value="08 Royal Hospital Road">08 Royal Hospital Road, London</option>
                            <!--
                            <option id="organisationAddressLine1" name="organisationAddressLine1" value="04 Royal Hospital Road" onclick="hcpv09AddressFn(this)">04 Royal Hospital Road, London</option>
                            <option id="organisationAddressLine1" name="organisationAddressLine1" value="06 Royal Hospital Road" onclick="hcpv09AddressFn(this)">06 Royal Hospital Road, London</option>
                            <option id="organisationAddressLine1" name="organisationAddressLine1" value="08 Royal Hospital Road" onclick="hcpv09AddressFn(this)">08 Royal Hospital Road, London</option>
                            -->
                        </select>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="cannot-find-address"><a id="postcode-finder-link"
                                class="govuk-link" rel="external" href="/hcp-e2e-journey-v09/save-your-details/profile-07-a">I cannot find the address on the list</a></label>
                    </div>
                </fieldset>
            </div>


            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="resetChangeFn()">
                    Save and continue
                </button>
            </div>
        </form>

    </div>

    <!-- Side panel 
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
-->
</div>
{% endblock %}