{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Is the patient aware of their diagnosis? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<form class="form" action="/live-version01/diagnosis/aware-of-prognosis" method="post" id="diagnosis-awareness-form" name="Diagnosisawareness-form">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is the patient aware of their diagnosis?
          </h1>
        </legend>
  
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          {% if data['Diagnosisawareness']=='Yes' %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="Diagnosisawareness-yes"
              name="Diagnosisawareness"
              type="radio"
              value="Yes"
              checked>

          {% else%}
          <div class="govuk-radios__item">
          <input
          class="govuk-radios__input"
          id="Diagnosisawareness-yes"
          name="Diagnosisawareness"
          type="radio"
          value="Yes" checked>

          {% endif %}

            <label class="govuk-label govuk-radios__label" for="Diagnosisawareness-yes">Yes</label>
          </div>
          {% if data['Diagnosisawareness']=='No' %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="Diagnosisawareness-no"
              name="Diagnosisawareness"
              type="radio"
              value="No"
              checked >

              {% else%}
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="Diagnosisawareness-no"
                  name="Diagnosisawareness"
                  type="radio"
                  value="No">

                  {% endif %}

            <label class="govuk-label govuk-radios__label" for="Diagnosisawareness-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>
  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
      <a class="govuk-link" href="#" onclick="saveAndLeave()" aria-label="Return to SR1 form sections">Return to SR1 form sections</a>
    </div>
  </form>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>
{% endblock %} 