{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/hcp-e2e-journey-v05/confirmation-page" method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Check your answers before sending the SR1 form
                        </h1>
                    </legend>

                    <!-- Inset text -->
                    <div class="govuk-inset-text">
                        <p>Accurate information about your patient's condition and treatment will reduce delays to their
                            Special Rules claim.</p>
                    </div>

                    <!-- ################# -->
                    <!-- PATIENT'S DETAILS -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Patient details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="patientDetailsContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Full name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="PatientFullName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-01">
                                    Change<span class="govuk-visually-hidden"> the patient's full name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="dob"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-02">
                                    Change<span class="govuk-visually-hidden"> the patient's date of birth</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="patientaddressline1"></div>
                                <div class="text-right" id="patientaddressline2"></div>
                                <div class="text-right" id="patientaddresstown"></div>
                                <div class="text-right" id="patientPostcode"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-03">
                                    Change<span class="govuk-visually-hidden"> the patient's address</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National Insurance number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="niNo"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-05">
                                    Change<span class="govuk-visually-hidden"> the patient's National Insurance
                                        number</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ############## -->
                    <!-- DIAGNOSIS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Diagnosis</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="diagnosisDataContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="whatIsTheDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-07">
                                    Change<span class="govuk-visually-hidden"> the patient's diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="dateofDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-08">
                                    Change<span class="govuk-visually-hidden"> the date of the patient's
                                        diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date the patient met the Special Rules
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="dateofSpecialRules"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-06">
                                    Change<span class="govuk-visually-hidden"> the date the patient met the Special
                                        Rules</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Other relevant diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="otherRelevantDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-09">
                                    Change<span class="govuk-visually-hidden">other relevant
                                        diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of diagnosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="awareOfDiagnosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-10">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their
                                        diagnosis</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Patient aware of prognosis
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="awareOfPrognosis"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-11">
                                    Change<span class="govuk-visually-hidden"> if the patient is aware of their
                                        prognosis</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- CLINICAL FEATURES -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Clinical features</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="clicnicalFeaturesContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details of the clinical features
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="clinicalFeatures"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-c-12">
                                    Change<span class="govuk-visually-hidden"> details of clinical features</span>
                                </a>
                            </dd>
                        </div>
                    </dl>


                    <!-- ################# -->
                    <!-- TREATMENT -->
                    <!-- ################# -->
                    <h2 class="govuk-heading-l">Treatment</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="treatmentContainer">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Purpose of treatment and response
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="treatment"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/sr1-form-c-13">
                                    Change<span class="govuk-visually-hidden"> purpose of treatment
                                        and the response</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Your profile details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="yourName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-01" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="role"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-02" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="professionalRegNum"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-03" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your professional registration number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your mobile number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="mobile"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-04" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your mobile number</span>
                                </a>
                            </dd>
                        </div>
                        <!--
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="organisationName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-05" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> organisation name</span>
                                </a>
                            </dd>
                        </div>
                    -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="text-right" id="organisationName"></div>
                                <div class="text-right" id="organisationAddressLine1"></div>
                                <div class="text-right" id="organisationAddressLine2"></div>
                                <div class="text-right" id="organisationTownCity"></div>
                                <div class="text-right" id="organisationPostcode"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v05/profile-05" target=”_blank”>
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <!-- ############## -->
                    <!-- DECLARATION -->
                    <!-- ############## -->
                    <h2 class="govuk-heading-l">Declaration</h2>

                    <p class="govuk-body">You confirm that:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>the person named in this report is your patient</li>
                        <li>this is a full report of their condition and treament</li>
                    </ul>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage()>
                    I agree &mdash; send the form
                </button>
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/hcp-e2e-journey-v05/edit-incomplete-filled-form-saved">
                    Save and come back later
                </a>
            </div>

        </form>
    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}