{% extends "layout.html" %}

{% block pageTitle %}
    What is the patient's full name?
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <form id="sendAnSR1Form" action="/hcp-e2e-journey-v05/sr1-form-02" method="post">
                
                <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                  <h2 class="govuk-error-summary__title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
                        <a href="#PatientFullName">Enter the patient's full name</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l">Section 1 of 12</span>
                            <h1 class="govuk-fieldset__heading">
                                What is the patient's full name?
                            </h1>
                        </legend>

                        <!-- Full name -->
                        <div class="govuk-form-group">
                            <!--<label class="govuk-label" for="PatientFullName">Full name</label>-->
                            <!--ERROR LEGEND -->
                        <p id="PatientFullName-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter the patient's full name
                        </p>
                        <!-- END ERROR -->
                            <input autocomplete="off" class="govuk-input" id="PatientFullName" name="PatientFullName" type="text" spellcheck="false">
                        </div>

                        <!-- Surname 
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="surname">Last name</label>
                            <input  autocomplete="off" class="govuk-input govuk-input--width-20" id="surname" name="surname" type="text" spellcheck="false">
                        </div> -->

                    </fieldset>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="savePatientNameSR1Formv05()">
                        Save and continue
                    </button>
                    <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;">Save and come back later</a>
                </div>
            </form>

        </div>

        <!-- Side panel -->
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
        const saveAndLeave = () => {
            savePatientNameSR1Formv05();

            const origin = window.location.origin;
            const url = getUrlWithSR1DataAsQueryParams(origin, "/hcp-e2e-journey-v05/task-list-sr1-form");

            window.location.replace(url.toString());
        }
    </script>
{% endblock %}