{% extends "layout.html" %}
{% block pageTitle %}
    What is your name?
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h1 id="whatIsYourNameHeading" class="govuk-heading-xl">
                What is <span id="yourTheirTxt1"></span> name?
            </h1>
        </div>
        
        <div class="govuk-grid-column-one-half">
            <form id="srelWhatIsYourName" action="/srel-branching-options/address" method="post">
                <!-- First name -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="first-name">
                    First name
                    </label>
                    <input class="govuk-input" id="first-name" name="first-name" type="text">
                </div>

                <!-- Middle name -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="Middle name">
                    Middle name
                    </label>
                    <input class="govuk-input" id="middle-name" name="Middle name" type="text">
                </div>

                <!-- Surname -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="Surname">
                    Surname
                    </label>
                    <input class="govuk-input" id="surname" name="Surname" type="text">
                </div>

                <!-- Have you gone by any other name? -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="other-name">
                        Have <span id="youTheyTxt"></span> gone by another name?
                    </label>
                    <!-- <div id="contact-hint" class="govuk-hint">
                        Select one option.
                    </div> -->
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="hadOtherNames" name="otherNames" type="radio" value="yes" data-aria-controls="conditional-otherNames" onchange="srelOtherNameFn()">
                            <label class="govuk-label govuk-radios__label" for="hadOtherNames">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-otherNames">
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="whatOtherNames">
                                What was <span id="yourTheirTxt2"></span> other name?
                            </label>
                            <input class="govuk-input govuk-input--width-10" id="whatOtherNames" name="whatOtherNames" type="text" spellcheck="false" autocomplete="text">
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="hadNoOtherNames" name="otherNames" type="radio" value="no" onchange="srelOtherNameFn()">
                            <label class="govuk-label govuk-radios__label" for="hadNoOtherNames">
                            No
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Continue -->
                <div class="govuk-button-group">
                    <button id="srelwhatIsTheNameSubmitBtn" class="govuk-button" data-module="govuk-button" onclick="srelwhatIsTheNameFn()">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}