{% extends "layout.html" %}

{% block pageTitle %}
Completed SR1 forms
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Completed SR1 forms</h1>
        <!-- <p class="govuk-body">You can access completed SR1 forms for 30 days after you submitted them. You can resend, view, and download them. They will be archived after 30 days.</p> -->
        <!-- <p class="govuk-body">You don't have any completed forms.</p> -->
        <div class="govuk-inset-text">
            You do not have any completed forms.
        </div>
    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}