{% extends "layout.html" %}

{% block pageTitle %}
Treatment
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/hcp-e2e-journey-v08/check-sr1-form" method="post"
            novalidate>
            <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <!--<span class="govuk-caption-l">Send an SR1 form</span>-->
                    <span class="govuk-caption-l">Section 4 of 4</span>
                    <h1 class="govuk-fieldset__heading">
                        Treatment
                    </h1>
                </legend>

                <!--
                <p class="govuk-body">You can save your progress after each section. Your profile details have
                    automatically been used to complete parts of this form.</p>
                <p class="govuk-body">Incomplete SR1 forms will be deleted after 30 days.</p>
                -->
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-label--m">
                        <h1 class="govuk-fieldset__heading">
                            Give details of relevant past or current treatment, its purpose and any response seen
                        </h1>
                    </legend>
                    
                    <!-- Give the details of the clinical features that indicate a severe progressive condition -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
                        <div class="govuk-form-group">
                            <div id="treatment-hint" class="govuk-hint">For example: treatment may be ongoing, palliative or symptom control/ psychosocial only.</div>
                            <textarea class="govuk-textarea govuk-input--width-20 govuk-js-character-count" id="treatment" name="treatment" rows="5" autocomplete="off">Treatment declined, no further treatment available under palliative care.</textarea>
                        <div id="detailsOfClinicalFeatures-info" class="govuk-hint govuk-character-count__message">You can enter up to 250 characters</div>
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveTreatmentSR1Formv08()">
                    Save and continue
                </button>
                <a class="govuk-link" href="/hcp-e2e-journey-v08/edit-incomplete-form-saved">Save and come back later</a>
            </div>

        </form>

        </form>
    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}