{% extends "layout.html" %}

{% block pageTitle %}
The online SR1 form is only available to NHS England – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You have signed out</h1>
        </div>
    -->
        <h1 class="govuk-heading-l">
            Sorry, there is a problem
        </h1>


  <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">We cannot show, change or delete your details right now.</p>


        <p class="govuk-body">You can start <a target="_blank"
                href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources#what-to-do-with-a-completed-sr1-form">start
                a new SR1 form</a> and manually enter your details.</p>

  

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
    
              <!--<p class="govuk-body">You can email for technical support, such as accessing the service.</p>
              <p class="govuk-body">We cannot discuss specific patients or how to complete the SR1 form, so please do not give personal details.</p>-->
                   <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
            </div>
        </div>
    </section>

    </div>

</div>
{% endblock %}