{% extends "layout.html" %}

{% block pageTitle %}
Feedback Send an SR1
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Feedback <span id="resubmittedH1" class="hidden">re</span>sent</h1>
                <div class="govuk-panel__body">Your response ID is <br><strong>XXXX-XXXX-XXXX-X</strong></div>
            </div>

            <p class="govuk-body">Please have this ID available if you need to contact us about your response. </p>

            <div class="govuk-!-padding-bottom-6"></div>

            <p class="govuk-body">A receipt for your response has been emailed to you from the address dwp.gsi.gov.uk@mail1.citizenspace.com with the subject "Response received - Response ID: XXXX-XXXX-XXXX-X". If it doesn't appear in your inbox within a couple of minutes, please check your "spam" or "junk" folder.</p>
            <p class="govuk-body">Thank you for your response.</p>

            <div class="govuk-!-padding-bottom-6"></div>


            <h2 class="govuk-heading-m">Get help</h2>

            <p class="govuk-body">You can contact us by email or telephone if you need help.</p>
            <ul class="govuk-list">
                <li>Telephone: 0300 303 5035</li>
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
            </ul>
            <p class="govuk-body">Tell us the SR1 reference number if you need help with a form you have already sent.
            </p>

        </div>

    </div>


</div>


{% endblock %}