{% extends "layout-gov-name.html" %}

{% block pageTitle %}
Are you registered with NHS England? - Send an SR1 form - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="remindersPage1" name="remindersPage1" action="/hcp-e2e-journey-mvp01/organisation-registered/answer" method="post"
            autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you registered with NHS England?
                        </h1>
                    </legend>

                    <!--<p id="toggleParagraph" class="govuk-body">Only NHS England would be able to use the service.</p>-->

                    <!-- Receive reminder options -->
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes" name="receiveReminder" type="radio" value="Yes"
                                onclick="hcpmvp01ReceiveReminderFn(this)">
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="receiveReminder" type="radio" value="No"
                                onclick="hcpmvp01ReceiveReminderFn(this)">
                            <label class="govuk-label govuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="resetChangeFn()">
                    Continue
                </button>
            </div>
        </form>

    </div>

        <!-- Side panel
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
    -->
</div>
{% endblock %}