{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Confirm your name – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<form class="form" action="/live-version01/save-your-details/your-name-answer" method="post" id="hcpnamechoice" name="profileDetails">

  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           Contact us
          </h1>
        </legend>
  
  
        
            <h2 class="govuk-heading-m">If you have a general query</h2>
           
               <ul class="govuk-list">
                 <li>The Personal Independence Payment (PIP) team manage SR1 enquiries. </li>
                 

<div class="govuk-inset-text">
 <li>Telephone: 0800 121 4433</li>
          <li>Monday to Friday, 9am to 5pm (except public holidays)</li></div>

       
           <li>

            <p class="govuk-body">
  <a href="#" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121433.
</p>




    <a class="govuk-link" href="#">Find out about call charges </a>
  </li>
  <br>

        </ul>
          <h2 class="govuk-heading-m">If you have a technical query about the online service</h2>
        
<p class="govuk-body">Contact the email for support with the online service. </p>


           <ul class="govuk-list">
          <li> Email:<a class="govuk-link"
                    href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></li>
          <li>The team aim to respond within 3 working days.</li>
    
        </ul>

            
       
                <!--Feedback-->
    </div>


</section>

</div>

{% endblock %}

