{% extends "layout.html" %}

{% block pageTitle %}
Account home
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <!-- <h1 class="govuk-heading-xl">
                Your SR1 forms
                <p class="govuk-body">
                    <span id="fullName"></span>
                    <span class="govuk-caption-m">GMC number: <span id="professionalRegistrationNumber"></span></span>
                </p>
            </h1> -->

        <h1 class="govuk-heading-xl">
            <span id="fullName" class="govuk-caption-l"></span>
           
            <span>Account home</span>
        </h1>

        <!-- Body -->
        <div class="govuk-form-group">

            <!-- <pre>TODO: </pre>
                    <p class="govuk-body">Jack's new 'best of both' version will go here.</p> -->

            <!-- Select action -->
            

            <div class="govuk-!-padding-bottom-6"></div>

            <!-- Warning text -->
            

            <!-- Select action -->
            <h2 class="govuk-heading-l govuk-visually-hidden">Your SR1 forms and settings</h2>
            <div class="govuk-grid-row">
                
               
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                    <div class="card govuk-!-padding-5"
                        style="height: 180px; color:white; border: 1px solid #b1b4b6; border-bottom-width: 4px;">
                        <h3 class="govuk-heading-m"><a href="/hcp-e2e-journey-v05/profile-details"
                                class="govuk-link">Update your profile details</a></h3>
                        <p class="govuk-body">Your profile details are added to every SR1 form you send.</p>
                    </div>
                </div>
                
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-l">Get help</h2>

            <p><a href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <p><a href="https://www.gov.uk/benefits-end-of-life" target="_blank">Get benefits if you're nearing end of life (opens in a new tab)</a></p>
            <p><a href="#" target="_blank">Contact IT support helpdesk (opens in a new tab)</a></p>

            <!-- Supporting information -->

        </div>

    </div>
</div>
</div>
{% endblock %}