{% extends "layout-gov-signed-in-private-beta02.html" %}

{% block pageTitle %}
What is your professional registration number? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="profileSetupPage" name="profileDetails" action="/private-beta02/profile-04-adding-details" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"
                        for="professionalRegistrationNumber">
                        <h1 class="govuk-label-wrapper">
                            <!--<span class="govuk-caption-l">Question 3 of 5</span>-->
                            <label class="govuk-label govuk-label--l" for="professionalRegistrationNumber">
                                What is your professional registration number?
                            </label>
                        </h1>
                    </legend>
                    <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--l"
                        for="professionalRegistrationNumber">
                        <span class="govuk-caption-l">Question 3 of 5</span>
                        <h1 class="govuk-fieldset__heading">
                            What is your professional registration number?
                        </h1>
                    </legend>-->

                    <div id="event-name-hint" class="govuk-hint">This is your GMC or NMC number.</div>
                    <input class="govuk-input govuk-input--width-10" id="professionalRegistrationNumber"
                        name="professionalRegistrationNumber" type="text" autocomplete="off">


                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="saveHCPProfessionalNumberprivatebeta02(); resetChangeFn();">
                    Continue
                </button>
               
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveHCPProfessionalNumberprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta02(origin, "/private-beta02/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}