{% extends "layout-gov-signed-in-private-beta02.html" %}

{% block pageTitle %}
What is your role? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/private-beta02/profile-03-adding-details" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l">Question 2 of 5</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is your role?
                        </h1>
                    </legend>

                    <!-- Your role -->
                    <div class="govuk-form-group">
                        <!--<label class="govuk-label govuk-visually-hidden" for="role">Your role
                        </label>-->
                        <div id="roleOptions" class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="gp" name="yourRole" type="radio"
                                    value="General Practitioner" onclick="privatebeta02RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="gp">
                                    Consultant
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="hospitalConsultant" name="yourRole" type="radio"
                                    value="Hospital consultant" onclick="privatebeta02RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="hospitalConsultant">
                                    General practitioner
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="specialistDoctor" name="yourRole" type="radio"
                                    value=" Hospice doctor" onclick="privatebeta02RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="specialistDoctor">
                                    Hospice doctor
                                </label>
                            </div>
                          
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="seniorSpecialistNurse" name="yourRole"
                                    type="radio" value="Senior specialist nurse" onclick="privatebeta02RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="seniorSpecialistNurse"
                                    aria-describedby="seniorSpecialistNurse-hint">
                                    Senior specialist nurse
                                </label>
                                <div id="seniorSpecialistNurse-hint" class="govuk-hint govuk-radios__hint">
                                    Such as a clinical nurse specialist or advanced nurse practitioner.
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="hospiceDoctor" name="yourRole" type="radio"
                                    value=" Specialty doctor" onclick="privatebeta02RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="hospiceDoctor">
                                    Specialty doctor
                                </label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="other" name="yourRole" type="radio" value="Other" data-aria-controls="conditional-role" onclick="privatebeta01RoleFn(this)">
                                <label class="govuk-label govuk-radios__label" for="other">
                                    Other
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-role">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="otherRole">
                                            Your role
                                        </label>
                                        <input class="govuk-input govuk-input--width-15" id="otherRole" name="otherRole"
                                            type="text" onfocus="this.value=''" autocomplete="off">
                                    </div>
                                </div>
                            
                        </div>
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveRoleprivatebeta02(); saveOtherRoleprivatebeta02(); resetChangeFn();">
                    Continue
                </button>
                
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveRoleprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta02(origin, "/private-beta02/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}