{% extends "layout-gov-signed-in-private-beta02.html" %}

{% block pageTitle %}
What is your organisation's phone number? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="profileSetupPage" name="profileDetails" action="#" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" for="mobileNumber">
                    <!--<span class="govuk-caption-l">Question 4 of 5</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is your organisation's phone number?
                        </h1>
                    </legend>
                    <label class="govuk-label" id="UKtelephoneNumber-hint" for="mobileNumber">UK Telephone number</label>
                    <div id="mobileNumber-hint" class="govuk-hint">We will contact you if we need more information about a patient after you have sent their SR1 form.</div>
                    <input class="govuk-input govuk-input--width-20" id="mobileNumber" name="mobileNumber"
                        type="text" autocomplete="off">
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveHCPMobilelNumberprivatebeta02(); resetChangeFn();">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let thePostcode = localStorage.getItem("privatebeta01Postcode");

        if (thePostcode != null) {
            document.getElementById("profileSetupPage").action = "/private-beta02/profile-07";
        } else {
            document.getElementById("profileSetupPage").action = "/private-beta02/profile-05";
        }
    });
</script>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveHCPMobilelNumberprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta02(origin, "/private-beta02/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}