{% extends "layout-gov-signed-in-private-beta02.html" %}

{% block pageTitle %}
SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="300" data-countdown="68"
  data-keep-alive-url="?continue=true" data-sign-out-url="/private-beta02/signedout" data-timeout-url=""
  data-title="Your answers will be deleted soon"
  data-message="We will sign you out if you do not do anything in the next "
  data-message-suffix="Your answers will be deleted. This is to protect your and the patient's information." data-keep-alive-button-text="Stay signed in"
  data-sign-out-button-text="Sign out" data-synchronise-tabs="" />


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          If you sign out your answers will be deleted.
        </p>
        <p class="govuk-body">
          You will be signed out if you do not do anything for 30 minutes.
        </p>
      </div>
    </div>

    <h1 class="govuk-heading-xl">SR1 form sections</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">SR1 form incomplete</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 5 sections.</p>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Patient details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item" id="patientFullName">
                <span class="app-task-list__task-name">
                  <a href="/private-beta02/sr1-form-01" aria-describedby="fullname-status">
                    Complete patient details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="fullname-status">Not
                  started</strong>
                <strong class="govuk-tag app-task-list__tag hidden" id="pfullname-status-completed"
                  aria-hidden>Completed</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Diagnosis
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item" id="patientDiagnosis">
                <span class="app-task-list__task-name">
                  <a href="/private-beta02/sr1-form-07" aria-describedby="patientDiagnosis-status">
                    Complete diagnosis
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="patientDiagnosis-status">Not
                  started</strong>
                <strong class="govuk-tag app-task-list__tag hidden" id="patientDiagnosis-status-completed"
                  aria-hidden>Completed</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Clinical features and treatment
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item" id="patientClinicalFeatures">
                <span class="app-task-list__task-name">
                  <a href="/private-beta02/sr1-form-12" aria-describedby="patientClinicalFeatures-status">
                    Complete clinical features and treatment
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="patientClinicalFeatures-status">Not
                  started</strong>
                <strong class="govuk-tag app-task-list__tag hidden" id="patientClinicalFeatures-status-completed"
                  aria-hidden>Completed</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span> Your details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item" id="name">
                <span class="app-task-list__task-name">
                  <a href="/private-beta02/profile-01" aria-describedby="name-status">
                    Add your details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="name-status">Not started</strong>
                <strong class="govuk-tag app-task-list__tag hidden" id="name-status-completed"
                  aria-hidden>Completed</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">5. </span> Send the SR1 form
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item" id="name">
                <!--<span class="app-task-list__task-name" aria-label="Disabled hyperlink">Check your answers </span>-->
                <span class="app-task-list__task-name" aria-describedby="check-your-sr1-status">Check your answers </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="check-your-sr1-status">Cannot start
                  yet</strong>
            </ul>
          </li>

        </ol>
      </div>
    </div>

    <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Get help</h2>
                <p class="govuk-body">Email: <a class="govuk-link"
                        href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                <p class="govuk-body">We aim to respond within 3 working days.</p>
            </div>
        </div>
    </section>

  </div>

</div>


{% endblock %}