{% extends "layout-gov-signed-in-private-beta02.html" %}

{% block pageTitle %}
Tell us about the purpose of any treatment and the response – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta02/sr1-form-sections" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#treatment">Enter the treatment</a>
                            </li>
                            <li>
                                <a href="#treatment" class="govuk-visually-hidden">The treatment must be 10 characters
                                    or more</a>
                            </li>
                            <li>
                                <a href="#treatment" class="govuk-visually-hidden">The treatment must be 350 characters
                                    or less</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-label-wrapper">
                            <!--<span class="govuk-caption-l">Question 2 of 2</span>-->
                            <label class="govuk-label govuk-label--l" for="treatment">
                                Tell us about the purpose of any treatment and the response
                            </label>
                        </h1>
                    </legend>

                    <!-- Give the details of the clinical features that indicate a severe progressive condition -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="350">
                        <div class="govuk-form-group">
                            <div id="treatment-hint" class="govuk-hint">For example, treatment may be ongoing, palliative, symptom control, or psychosocial.</div>
                            <!--ERROR LEGEND -->
                            <p id="treatment-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Enter the treatment
                            </p>
                            <p id="treatment-character-min-error" class="govuk-error-message govuk-visually-hidden">
                                <span class="govuk-visually-hidden">Error:</span> The treatment must be 10 characters or
                                more
                            </p>
                            <p id="treatment-character-max-error" class="govuk-error-message govuk-visually-hidden">
                                <span class="govuk-visually-hidden">Error:</span> The treatment must be 350 characters
                                or less
                            </p>
                            <!-- END ERROR -->

                            <textarea class="govuk-textarea  govuk-js-character-count govuk-input--error"
                                id="treatment" name="treatment" rows="5" aria-describedby="treatment-info"></textarea>
                        </div>
                        <div id="treatment-info" class="govuk-hint govuk-character-count__message">You
                            can enter up to 350 characters</div>
                    </div>
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveTreatmentSR1Formprivatebeta02()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>
    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveTreatmentSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta02(origin, "/private-beta02/sr1-form-sections");

        window
            .location
            .replace(url.toString());
    }
</script>
{% endblock %}