{% extends "layout.html" %}
{% block pageTitle %}
    You need to apply though normal route
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You need to apply though normal route</h1>
            <p class="govuk-body">
                Blah
            </p>
            <p class="govuk-body">
                Blah blah
            </p>
            <p class="govuk-body">
                blah blah blah
            </p>
        </div>
    </div>

{% endblock %}