{% extends "layout.html" %}

{% block pageTitle %}
Account home
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

       <div class="moj-interruption-card">
      <div class="moj-interruption-card__content">
        <h1 class="moj-interruption-card__heading">You may have a draft SR1 form for this patient</h1>
        <div class="moj-interruption-card__body">
          <p>You have a draft SR1 form in your account for a patient with the same:</p>
       <ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>date of birth</li>
 
</ul>
        </div>
        <div class="govuk-button-group moj-interruption-card__actions">
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">
            Continue
          </a>
          <a class="govuk-link govuk-link--inverse" href="#">Start a new form</a>
        </div>
      </div>
    </div>
    

<br>

    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
<br>
        </div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>

    </div>
</div>
</section>
</div>
</div>
</div>
{% endblock %}