{% extends "layout-default.html" %}

{% block pageTitle %}
How to send an online SR1 form
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send evidence if your patient is eligible for the Special Rules for end of life
        </h1>

        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>

        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation"
            data-module="gem-track-click" data-gem-track-click-module-started="true">
            <h2 class="govuk-heading-m">
                Contents
            </h2>
            <ol class="govuk-list govuk-list--bullet gem-c-contents-list__list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v07/">Overview</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v07/landing-pages/who-can-send-an-sr1-form">Who can send medical
                        evidence</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v07/landing-pages/how-to-complete-an-sr1-form">What medical evidence we
                        ask for</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    How to send an online SR1 form
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="/hcp-e2e-journey-v07/landing-pages/other-ways-to-send-an-sr1-form">Other ways to send
                        medical evidence</a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div id="guide-contents">

            <h2 class="govuk-heading-l">How to send an online SR1 form</h2>

            <!--
            <p class="govuk-body">Sending an online SR1 form is the fastest way to submit medical evidence for your
                patient's claim.</p>

            <a href="/hcp-e2e-journey-v07/start-page" role="button" draggable="false" class="govuk-button"
                data-module="govuk-button">
                Access now
            </a>

            <div class="govuk-inset-text">
                The SR1 form has replaced the DS1500 form. You can use it to support your patient applying for a benefit
                under the Special Rules.
            </div>

            <p class="govuk-body">Use this service to tell the Department of Work and Pensions (DWP) that you have a
                patient who:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>has a progressive disease and</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>



            <h2 class="govuk-heading-l">What you will need</h2>
                    -->

            <p class="govuk-body">To send an online SR1 form, you will need an account.</p>
            <p class="govuk-body">In your account, you can:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>create a profile to add your details to your SR1 forms</li>
                <li>save incomplete SR1 forms</li>
                <li>set reminders for incomplete SR1 forms</li>
                <li>view, download, and print completed SR1 forms</li>
            </ul>

            <h3 class="govuk-heading-m">What you will need</h3>

            <p class="govuk-body">You will need to tell us your patient’s:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>National Insurance number</li>
                <li>diagnosis and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>date that they have met the criteria under special rules</li>
                <li>clinical features that indicate a severe progressive condition</li>
                <li>treatment plan</li>
            </ul>

            <h3 class="govuk-heading-m">If you are using the service for the first time</h3>
            <p class="govuk-body">You must create your profile when you sign in for the first time.</p>
            <p class="govuk-body">To complete your profile, you need your:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>professional registration number</li>
                <li>mobile number</li>
                <li>organisation name and address</li>
            </ul>

            <p class="govuk-body">This service is also available <a href="#">in Welsh (Cymraeg)</a>.</p>

            <a href="/hcp-e2e-journey-v07/signin-page" role="button" draggable="false"
                class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                    viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>

            <!-- Previous and Next navigation -->
            <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link"
                        href="/hcp-e2e-journey-v07/landing-pages/how-to-complete-an-sr1-form" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                            focusable="false" viewBox="0 0 15 13">
                            <path
                                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                            </path>
                        </svg>
                        <span class="govuk-pagination__link-title">Previous</span>
                        <span class="govuk-visually-hidden">:</span>
                        <span class="govuk-pagination__link-label">What to include in an SR1 form</span>
                    </a>
                </div>

                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link"
                        href="/hcp-e2e-journey-v07/landing-pages/other-ways-to-send-an-sr1-form" rel="next">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                            focusable="false" viewBox="0 0 15 13">
                            <path
                                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                            </path>
                        </svg>
                        <span class="govuk-pagination__link-title">Next</span>
                        <span class="govuk-visually-hidden">:</span>
                        <span class="govuk-pagination__link-label">Other ways to send an SR1 form</span>
                    </a>
                </div>
            </nav>

            <!-- Print version -->
            <div class="responsive-bottom-margin">
                <a href="/hcp-e2e-journey-v07/landing-pages/print"
                    class="govuk-link govuk-link--no-visited-state govuk-body">View a printable version of the whole
                    guide</a>
            </div>
        </div>

    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Related content</h2>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/the-special-rules-how-the-benefit-system-supports-people-nearing-the-end-of-life#what-to-do-with-a-completed-sr1-form">The
                    Special Rules: how the benefit system supports people nearing the end of life</a></p>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/dwp-medical-factual-reports-a-guide-to-completion">DWP
                    Medical (factual) reports: a guide to completion</a></p>
        </div>
    </div>
</div>
{% endblock %}