{% extends "layout-gov.html" %}

{% block pageTitle %}
Your account profile
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/hcp-e2e-journey-v04/account-d-dashboard" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Your profile
                        </h1>
                    </legend>

                    <!-- Inset text -->
                    <div class="govuk-inset-text">
                        <p>Your profile details are automatically used on every SR1 form you submit.</p>
                    </div>

                    <!-- ############## -->
                    <!-- PERSON DETAILS -->
                    <!-- ############## -->
                    <!--
                    <h2 class="govuk-heading-l">Your profile details</h2>
                -->

                    <dl class="govuk-summary-list" id="profileData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="name"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v04/profile-01" onclick="changingPractitionerNameFn()">
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="role"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v04/profile-02" onclick="changingPractitionerRoleFn()">
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="professionalRegNum"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v04/profile-03" onclick="changingPractitionerRegNoFn()">
                                    Change<span class="govuk-visually-hidden"> your professional registration number</span>
                                </a>
                            </dd>
                        </div>
                        <!--
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="emailAddress">jean.grey@email.com</div>
                            </dd>
                        </div>
                        -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your mobile number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="mobile"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v04/profile-04" onclick="changingPractitionerPhoneNoFn()">
                                    Change<span class="govuk-visually-hidden"> your mobile number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Your organisation's address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="organisationName"></div>
                                <div id="organisationAddressLine1"></div>
                                <div id="organisationAddressLine2"></div>
                                <div id="organisationTownCity"></div>
                                <div id="organisationPostcode"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/hcp-e2e-journey-v04/profile-05" onclick="changingPractitionerOrgAddressFn()">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                </fieldset>
            </div>
            <!--
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="profileTriggered()">
                        Continue
                    </button>
                </div>
                -->
        </form>
    </div>

    <!-- Side panel
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
-->
</div>

{% endblock %}