{% extends "layout-gov.html" %}

{% block pageTitle %}
    Is the patient aware of their prognosis?
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="sendAnSR1Form" action="/hcp-e2e-journey-v04/sr1-form-c-12" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l">Section 10 of 12</span>
                            <h1 class="govuk-fieldset__heading">
                                Is the patient aware of their prognosis?
                            </h1>
                        </legend>
                        
                        <!-- Is the patient aware of their prognosis? -->
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input  autocomplete="off" class="govuk-radios__input" id="awareOfPrognosisYes" name="awareOfPrognosis" type="radio" value="yes" onclick="hcpv04AwareOfPrognosis(this)">
                                <label class="govuk-label govuk-radios__label" for="awareOfPrognosis">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input  autocomplete="off" class="govuk-radios__input" id="awareOfPrognosisNo" name="awareOfPrognosis" type="radio" value="no" onclick="hcpv04AwareOfPrognosis(this)">
                                <label class="govuk-label govuk-radios__label" for="awareOfPrognosis">
                                    No
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="saveAwareOfPrognosisSR1Formv04()">
                        Save and continue
                    </button>
                    <a class="govuk-link" href="/hcp-e2e-journey-v04/edit-incomplete-form-saved">Save and come back later</a>
                </div>
            </form>

        </div>

        <!-- Side panel -->
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}