{% extends "layout-gov.html" %}

{% block pageTitle %}
    What was the date of your patient’s diagnosis?
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="sendAnSR1Form" action="/hcp-e2e-journey-v04/sr1-form-06" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l">Section 6 of 12</span>
                            <h1 class="govuk-fieldset__heading">
                                What was the date of your patient’s diagnosis?
                            </h1>
                        </legend>

                        <!-- Date of diagnosis -->
                        <div id="dod-hint" class="govuk-hint">
                            For example, 3 2007
                        </div>
                        <div class="govuk-date-input" id="dod">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dod-day">
                                        Day
                                    </label>
                                    <input autocomplete="off" class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-day" name="dod-day" type="text" inputmode="numeric" onkeypress="return isNumberKey(event)" maxlength="2">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dod-month">
                                        Month
                                    </label>
                                    <input  autocomplete="off" class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-month" name="dod-month" type="text" inputmode="numeric" onkeypress="return isNumberKey(event)" maxlength="2">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dod-year">
                                        Year
                                    </label>
                                    <input  autocomplete="off" class="govuk-input govuk-date-input__input govuk-input--width-4" id="dod-year" name="dod-year" type="text" inputmode="numeric" onkeypress="return isNumberKey(event)" maxlength="4">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="saveDateDiagnosisSR1Formv04()">
                        Save and continue
                    </button>
                    <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Save and come back later">Save and come back later</a>
                </div>
            </form>

        </div>

        <!-- Side panel -->
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">Get help</h2>
                <p class="govuk-body"><a  class="govuk-link" href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness" target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
                <ul class="govuk-list">
                    <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                    <li>Telephone: 0300 303 5035</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
        const saveAndLeave = () => {
            saveDateDiagnosisSR1Formv04();

            const origin = window.location.origin;
            const url = getUrlWithSR1DataAsQueryParams(origin, "/hcp-e2e-journey-v04/task-list-sr1-form");

            window.location.replace(url.toString());
        }
    </script>
{% endblock %}