{% extends "layout-default.html" %}

{% block pageTitle %}
Send an SR1 form
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            How to tell DWP that your patient is eligible for the Special Rules for end of life
        </h1>
        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>
        <!--
        <h1 class="govuk-heading-xl">Send an SR1 form </h1>
        -->

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <div class="govuk-inset-text">
                <!-- The SR1 form has replaced the DS1500 form. You can use it to support a benefit for a patient under the Special Rules. -->
                The SR1 form has replaced the DS1500 form. You can use it to support your patient applying for a benefit
                under the Special Rules.
            </div>
    
            <p class="govuk-body">Use this service to tell the Department of Work and Pensions (DWP) that you have a patient
                who:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>has a progressive disease and</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>
            <div class="govuk-!-padding-bottom-6"></div>
        </div>
        

        <div id="guide-contents">

            <h2 class="govuk-heading-l">What you will need</h2>

            <!--
            <p class="govuk-body">Sending an online SR1 form is the fastest way to submit medical evidence for your
                patient's claim.</p>

            <a href="/hcp-e2e-journey-v04/start-page" role="button" draggable="false" class="govuk-button"
                data-module="govuk-button">
                Access now
            </a>

            <div class="govuk-inset-text">
                The SR1 form has replaced the DS1500 form. You can use it to support your patient applying for a benefit
                under the Special Rules.
            </div>

            <p class="govuk-body">Use this service to tell the Department of Work and Pensions (DWP) that you have a
                patient who:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>has a progressive disease and</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>



            <h2 class="govuk-heading-l">What you will need</h2>
                    -->
<!--
            <p class="govuk-body">To send an online SR1 form, you will need an account.</p>
            <p class="govuk-body">In your account, you can:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>create a profile to add your details to your SR1 forms</li>
                <li>save incomplete SR1 forms</li>
                <li>set reminders for incomplete SR1 forms</li>
                <li>view, download, and print completed SR1 forms</li>
            </ul>

            <h3 class="govuk-heading-m">What you will need</h3>

            <p class="govuk-body">You will need to tell us your patient’s:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>National Insurance number</li>
                <li>diagnosis and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>date that they have met the criteria under special rules</li>
                <li>clinical features that indicate a severe progressive condition</li>
                <li>treatment plan</li>
            </ul>
        -->
            <p class="govuk-body">You will need to tell us your patient’s:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>address</li>
                <li>National Insurance number</li>
                <li>diagnosis and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>date that they have met their criteria under special rules</li>
                <li>clinical features that inicare a severe progressive condition</li>
                <li>treatment plan</li>
            </ul>

            <div class="govuk-!-padding-bottom-6"></div>

            <h3 class="govuk-heading-m">Your account</h3>
        
            <p class="govuk-body">To send an online SR1 form, you will need an account.</p>
            <p class="govuk-body">In your account, you can:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>create a profile to add your details to your SR1 forms</li>
                <li>save incomplete SR1 forms</li>
                <li>set reminders for incomplete SR1 forms</li>
                <li>view, download, and print completed SR1 forms</li>
            </ul>

            <div class="govuk-!-padding-bottom-6"></div>
            
            <h3 class="govuk-heading-m">If you are using the service for the first time</h3>
            <p class="govuk-body">You must create your profile when you sign in for the first time.</p>
            <p class="govuk-body">To complete your profile, you need your:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>professional registration number</li>
                <li>mobile number</li>
                <li>organisation name and address</li>
            </ul>

            <p class="govuk-body">This service is also available <a href="#">in Welsh (Cymraeg)</a>.</p>
            
            <a href="/hcp-e2e-journey-v04/signin-page" role="button" draggable="false"
                class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                    viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>

        <!--
        <h2 class="govuk-heading-l">What you will need</h2>
       
        <p class="govuk-body">You will need to have the patient's:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>National Insurance number</li>
            <li>diagnosis and other relevant conditions</li>
            <li>date of diagnosis</li>
            <li>clinical features that indicate a severe progressive condition</li>
            <li>treatment plan</li>
            <li>date that they have met the criteria under special rules</li>
        </ul>

        <h3 class="govuk-heading-m">If you are using the service for the first time</h3>
        <p class="govuk-body">You will need to complete an account profile. Your profile will be automatically used on
            every SR1 form you complete.</p>
        <p class="govuk-body">To complete your profile, you need your:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>professional registration number</li>
            <li>mobile number</li>
            <li>organisation name and address</li>
        </ul>

        <p class="govuk-body">This service is also available <a href="#">in Welsh (Cymraeg)</a>.</p>

        <a href="/hcp-e2e-journey-v04/signin-page" role="button" draggable="false"
            class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
        -->
    </div>


    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Get help</h2>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
                    target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
            <ul class="govuk-list">
                <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
                <li>Telephone: 0300 303 5035</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}