{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form  action="/live-version01/automated-address/automated-addresses-screen-14"  method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-heading-l">
                           Your details
                        </h1>
                    </legend>

                   
                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                  

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                            Nelson Noah
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Hospital Consultant
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                8912345
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your professional registration
                                        number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                               07963768315
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your phone number</span>
                                </a>
                            </dd>
                        </div>
                        
                    </dl>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h2 class="govuk-heading-m">
                                    Organisation’s address
                                </h2>

                                <p class=govuk-body><a
                                    href=""
                                    > Add new address</a></p>
        
                            </legend>

                            <!-- ############## -->
                            <!-- YOUR Addresses -->
                            <!-- ############## -->
        
                            <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                                <div class="govuk-summary-list__row">
                                    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address 1
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Ashford Health Clinic
                                <br>London Road
                                <br>Ashford
                                <br>TW1 3AA
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                    Remove<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                            
                        </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address 2
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Sovereign Medical Centrel
                                <br>Pennyland Avenue 
                                <br>Ashford
                                <br>TW6 3AB
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                    Remove<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
        
                                    
                                </div>
                            </dl>
                      

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage()>
                    Return to your account
 
                </button>
                <a class="govuk-link" href="/live-version01/save-your-details/delete-your-details">
                    Delete your details<span class="govuk-visually-hidden"> Delete your details</span>
                </a>
            </div>

        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}