{% extends "layout-gov-name.html" %}

{% block pageTitle %}
You have been signed out – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You have signed out</h1>
        </div>
    -->
        <h1 class="govuk-heading-l">
            You have been signed out
        </h1>
        <p class="govuk-body">You have been signed out because you did not do anything for 30 minutes. Your answers have
            been deleted. This is to protect your and the patient’s information. </p>
        <p class="govuk-body">You will need to start again. </p>
        <a class="govuk-button" href="/live-version01/sign-in/organisation">Sign back in</a>
        <!--<p class="govuk-body"><a href="#">Contact DWP if you need any help</a>.</p>-->

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
        </section>
        
    </div>

</div>
{% endblock %}