{% extends "layout-gov-signed-in-live-version01.html" %}
{% block pageTitle %}
What is the patient’s diagnosis? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<!-- START FORM -->
<form method="post" action="/live-version02/diagnosis/date">

<div class="govuk-form-group">
<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-label-wrapper">
<label class="govuk-label govuk-label--l" for="the-diagnosis">
What is the patient’s diagnosis?
</label>
</h1>
</legend>

<div class="govuk-character-count"
data-module="govuk-character-count"
data-maxlength="350">

<div class="govuk-form-group">
<textarea
class="govuk-textarea govuk-js-character-count"
id="the-diagnosis"
name="the-diagnosis"
rows="5"
aria-describedby="diagnosis-info"
>{{ data['the-diagnosis'] }}</textarea>
</div>

<div id="diagnosis-info"
class="govuk-hint govuk-character-count__message">
You can enter up to 350 characters
</div>
</div>

</fieldset>
</div>

<!-- BUTTONS -->
<div class="govuk-button-group">

<!-- SAVE AND CONTINUE (submits to next page + updates task list) -->
<button
type="submit"
class="govuk-button js-flash-on-save"
data-module="govuk-button"
data-flash="draft-saved">
Continue
</button>

<!-- SAVE AND COMPLETE LATER (global handler redirects to your-account) -->
<button
type="button"
class="govuk-button govuk-button--secondary js-save-later"
data-module="govuk-button">
Save and complete later
</button>

</div>

</form>

<p class="govuk-body">
<a class="govuk-link"
onclick="saveAndLeave()"
style="color:#1d70b8;"
aria-label="Return to SR1 form sections"
href="/live-version02/sr1-form-sections">
Return to SR1 form sections
</a>
</p>

<div class="govuk-!-padding-bottom-6"></div>

<hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">

<section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Get help</h2>
<p class="govuk-body">
<a class="govuk-link"
href="/live-version02/contact/contact-us-2.html">
Contact DWP
</a> if you have questions about sending an SR1 form.
</p>
</div>
</div>

<br>

<h2 class="govuk-heading-m">Feedback</h2>
<p class="govuk-body">
<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">
What did you think of this service?
</a>
</p>
</section>

</div>
</div>

<!-- RETURN TO TASK LIST (existing PK code preserved) -->
<script>
const saveAndLeave = () => {
const origin = window.location.origin;
const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");
window.location.replace(url.toString());
}
</script>

{% endblock %}