{% extends "layout.html" %}

{% block pageTitle %}
Your organisation sign in page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You will be redirected to your organisation's sign in page</h1>
        <p class="govuk-body">If you are not redirected in <span id="timeCounted">0</span> seconds, <a id="organisationSignInRouting" href="" class="govuk-link">go straight to the service</a>.</p>

    </div>
</div>

{% endblock %}