{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Is your name...? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<form class="form" action="/live-version01/your-details/your-name-answer" method="post" id="hcpnamechoice" name="profileDetails">
  <!-- ERROR STATE -->
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#haveOtherdiagnosis-yes">Select if your name is correct</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Is your name Nelson Noah?
        </h1>
      </legend>

      <!--ERROR LEGEND -->
      <p id="haveOtherdiagnosis-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select if your name is correct
      </p>
      <!-- END ERROR -->


      <div id="contact-hint" class="govuk-hint">
        This is the name linked to your current organisation's account details. 
      </div>

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        {% if data['hcpname']=='Yes' %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="hcpname-yes" name="hcpname" type="radio" value="Yes" checked>
          {% else%}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hcpname-yes" name="hcpname" type="radio" value="Yes">

            {% endif %}
            <label class="govuk-label govuk-radios__label" for="hcpname-yes">Yes</label>

          </div>
          <div class="govuk-radios__item">
            {% if data['hcpname']=='No' %}
            <input class="govuk-radios__input" id="hcpname-no" name="hcpname" type="radio" value="No" checked>
            {% else%}
            <input class="govuk-radios__input" id="hcpname-no" name="hcpname" type="radio" value="No">
            {% endif %}
            <label class="govuk-label govuk-radios__label" for="hcpname-no">No</label>
          </div>
        </div>

    </fieldset>
  </div>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections"
      href="#">Return to SR1 form sections</a>
  </div>
</form>

{% endblock %}