{% extends "layout-gov-signed-in-private-beta03.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/private-beta03/sr1-form-sections" method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-heading-l">
                            You can save your details and use them again
                        </h1>
                    </legend>

                   

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                  

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="yourName"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta03/profile-01">
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="role"></div>
                                <div id="otherRole"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta03/profile-02">
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="professionalRegNum"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta03/profile-03">
                                    Change<span class="govuk-visually-hidden"> your professional registration
                                        number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div id="mobileNumber"></div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta03/profile-04">
                                    Change<span class="govuk-visually-hidden"> your phone number</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div list>Bicester Health Clinic</list> </div>
                                <div list>Bicester Street</list> </div>
                                <div list>Belfast</list> </div>
                                <div list>BT1 8GF</list> </div>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/private-beta03/profile-05">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    {% from "govuk/components/button/macro.njk" import govukButton %}
                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    
                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                      name: "saveYourDetails",
                      fieldset: {
                        legend: {
                          text: "Do you want to save your details?",
                          isPageHeading: false,
                          classes: "govuk-fieldset__legend--m"
                          
                        }
                      },
                      hint: {
                        text: "If you save your details, we will add them to all of your SR1 forms. "
                      },
                     
                      items: [
                        {
                          value: "yes",
                          text: "Yes"
                        },
                        {
                          value: "no",
                          text: "No"
                        }
                      ]
                    }) }}
                   
                   

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage()>
                   Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="sr1-form-start">Return to SR1 form sections</a>
            </div>

        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}