{% extends "layout-default.html" %}

{% block pageTitle %}
SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send evidence if a patient is eligible for the Special Rules for end of life (SR1 form)
        </h1>
        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>

        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation"
            data-module="gem-track-click" data-gem-track-click-module-started="true">
            <h2 class="govuk-heading-m">
                Contents
            </h2>
            <ul class="govuk-list govuk-list--bullet gem-c-contents-list__list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed" aria-label="Overview">
                    <a href="#Overview">Overview</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                    aria-label="Who can send an SR1 form">
                    <a href="#WhocansendanSR1form">Who can send an SR1 form</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                    aria-label="What to include in an SR1 form">
                    <a href="#Whatyouwillneed">What you will need</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                    aria-label="How to send an online SR1 form">
                    <a href="#SendanSR1form">Send an SR1 form</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l" id="Overview">Overview</h2>
            <p class="govuk-body">Clinicians can be asked to provide medical evidence on an SR1 form to support a
                benefit claim made under the Special Rules.</p>

            <p class="govuk-body">The Special Rules allow people nearing the end of life to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>get faster, easier access to certain benefits </li>
                <li>get higher payments for certain benefits </li>
                <li>avoid a medical assessment</li>
            </ul>

            <p class="govuk-body">Use this service to tell the Department of Work and Pensions (DWP) that you have a
                patient
                who:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>has a progressive disease</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>
        </div>

        <div id="guide-contents" class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l" id="WhocansendanSR1form">Who can send an SR1 form</h2>

            <p class="govuk-body">To send an SR1 form, you must be a:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>GP</li>
                <li>hospital consultant</li>
                <li>specialist doctor</li>
                <li>hospice doctor</li>
                <li>senior specialist nurse (such as a clinical nurse specialist, advanced nurse practitioner or
                    similar)</li>
            </ul>

            <!-- <p class="govuk-body">You do not need to give a specific prognosis. Please use language that you would normally use when communicating with other clinicians.</p> -->
            <p class="govuk-body">If you are a GP or GMC registered consultant, you can claim a fee for completing an
                SR1 form, which will be paid into your bank or building society account.</p>
        </div>


        <div id="guide-contents" class="govuk-!-margin-bottom-9">

            <h2 class="govuk-heading-l" id="Whatyouwillneed">What you will need</h2>

            <p class="govuk-body">The SR1 form asks for medical evidence of:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>diagnosis and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>date that they have met the criteria under Special Rules</li>
                <li>clinical features that inicare a severe progressive condition</li>
                <li>a treatment plan</li>
            </ul>
            <p class="govuk-body">You do not need to give a specific prognosis. Use language that you would typically
                use when communicating with other clinicians.</p>
            <p class="govuk-body">You will also need to tell us the patient’s:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>address</li>
            </ul>
            <div class="govuk-inset-text">We can process the patient's benefit claim faster if you include their
                National Insurance number. </div>
        </div>
        <div id="guide-contents">

            <h2 class="govuk-heading-l" id="SendanSR1form">Send an SR1 form</h2>

            <p class="govuk-body">
                You can return the SR1 form online, by email or by post.
            </p>
            <h3 class="govuk-heading-m">Send online</h3>

            <p class="govuk-body">
                The digital send an SR1 form service allows you to complete the form online. This means the form arrives
                instantly, reducing the patient's waiting time.
            </p>
            <div class="govuk-inset-text">
                <p class="govuk-body">The online service is currently only available to NHS England.</p>
                <p class="govuk-body">If you are registered with NHS Scotland, NHS Wales or Health and Social Care in
                    Northern Ireland, you can still send an SR1 form <a href="#send-by-email">by email</a> or <a
                        href="#send-by-post">send it by post</a>.</p>
            </div>

            <a href="/private-beta03/signin-page" role="button" draggable="false"
                class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                    viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>

        <div id="guide-contents">
            <div class="govuk-!-padding-bottom-6"></div>

            <h3 class="govuk-heading-m" id="send-by-email">Send by email</h3>

            <p class="govuk-body">To get an electronic version of the SR1 form and the fee form, you will need to send a
                request from a secure email address with your:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>surgery, hospital, or office address</li>
                <li>phone number</li>
            </ul>

            <p class="govuk-body">Secure email addresses end in:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>@nhs.net</li>
                <li>@nhs.uk</li>
                <li>@nhs.scot</li>
                <li>@nhs.wales.uk</li>
                <li>@gov.uk</li>
            </ul>

            <p class="govuk-body">The SR1 can be saved to your device. You do not need to sign either of the forms. </p>
            <p class="govuk-body">Email the completed SR1 forms to <a href="mailto:form.e-sr1@dwp.gov.uk"
                    target="_blank">form.e-sr1@dwp.gov.uk</a>.</p>
            <p class="govuk-body">Do not encrypt any part of the email. Any email that does not come from a secure email
                account will be automatically deleted.</p>


            <div class="govuk-!-padding-bottom-6"></div>

            <h3 class="govuk-heading-m" id="send-by-post">Send by post</h3>
            <p class="govuk-body">You can post the completed SR1 form and fee form to this address:</p>
            <div class="govuk-inset-text">
                <p class="govuk-body">Personal Independence Payment (10)</p>
                <p class="govuk-body">Mail Handling Site A</p>
                <p class="govuk-body">Wolverhampton</p>
                <p class="govuk-body">WV98 1AE</p>
            </div>

            <p class="govuk-body">You must:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>sign the completed form</li>
                <li>post the original copy</li>
                <li>use a separate envelope for each patient's form</li>
            </ul>
            <p class="govuk-body">We cannot accept a printed copy of the electronic SR1 form.</p>
            <p class="govuk-body">Do not staple any documents together.</p>
            <!--
            <p class="govuk-body">Do not print the electronic version of the SR1 form. We can only accept the original signed copies by post.</p>-->

            <h3 class="govuk-heading-s">Ordering paper SR1 forms</h3>

            <p class="govuk-body">You can order paper SR1 forms using <a
                    href="https://www.gov.uk/government/publications/dwp-leaflets-order-form" target="_blank">the DWP
                    order form (opens in a new tab)</a>.</p>
            <p class="govuk-body">Your order should be sent with a cover letter on headed paper. Include a list of
                clinicians who may complete the SR1 form in the letter.</p>
            <p class="govuk-body">Email the order form and cover letter from a secure email address to <a
                    href="mailto:dwp@hhglobal.com" target="_blank">dwp@hhglobal.com</a>.</p>

            <p class="govuk-body">You can also fax them to HH Global Limited on 0300 373 0125.</p>

            <p class="govuk-body">If you have any questions about this process, call the HH Global Limited helpline on
                0333 016 9656.</p>


            <!--
            <h3 class="govuk-heading-s">Requesting paper SR1 forms</h3>

            <p class="govuk-body">It's easier and quicker to complete an SR1 form online but if you're unable to access
                the online service, we can accept paper versions.</p>
            <p class="govuk-body">Requests for a book of paper SR1 forms must be made on this <a href="#"
                    target="_blank">order form for DWP information materials (opens in a new tab)</a>.</p>
            <p class="govuk-body">Return the form along with a cover letter on headed paper. The cover letter should
                include a list of clinicians who may complete SR1 forms.</p>
            <p class="govuk-body">Return the order form and cover letter by:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>post to [address]</li>
                <li>fax to HH Global Limited on 0300 373 0125</li>
                <li>email to dwp@hhglobal.comvia a secure email account</li>
            </ul>

            <p class="govuk-body">If you have any questions about this process, call the HH Global Limited helpline on
                0333 016 9656.</p> -->
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Related content</h2>
            <p><a
                    href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources#what-to-do-with-a-completed-sr1-form">The
                    Special Rules: how the benefit system supports people nearing the end of life</a></p>
            <p><a
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/dwp-medical-factual-reports-a-guide-to-completion">DWP
                    Medical (factual) reports: a guide to completion</a></p>
        </div>
    </div>

</div>
{% endblock %}