{% extends "layout.html" %}

{% block pageTitle %}
Send medical evidence to support a benefit claim made with the Special Rules for end of life (SR1 form) – Send an SR1
medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send medical evidence to support a benefit claim made with the Special Rules for end of life (SR1 form)
        </h1>
        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>

        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation"
            data-module="gem-track-click" data-gem-track-click-module-started="true">
            <h2 class="govuk-heading-m">
                Contents
            </h2>
            <ul class="govuk-list govuk-list--bullet gem-c-contents-list__list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed" aria-label="Overview">
                    <a href="#Overview">Overview</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                    aria-label="Who can send an SR1 form">
                    <a href="#who-can-send-an-SR1-form">Who can send an SR1 form</a>
                </li>

                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"
                    aria-label="What to include in an SR1 form">
                    <a href="#send-an-SR1-form">Send an SR1 form</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l" id="Overview">Overview</h2>
            <p class="govuk-body">You can send medical evidence with an SR1 form to support a benefit claim made with
                the Special Rules.</p>

            <p class="govuk-body">In most cases, the Special Rules allow people nearing the end of life to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>get faster, easier access to certain benefits </li>
                <li>get higher payments for certain benefits </li>
                <li>avoid having an in-person medical assessment </li>
            </ul>

            <p class="govuk-body">Use this service to send an SR1 form to the Department for Work and Pensions if you
                have a patient who:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                <li>has a progressive disease</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>
      
            <h2 class="govuk-heading-m">If your patient lives in Northern Ireland </h2>
            <p class="govuk-body">There is a different process for healthcare professionals to <a href="#" class="govuk-link">support 
                patients in Northern Ireland (opens in new tab)</a>.</p>
        </div>

        <div id="guide-contents" class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l" id="who-can-send-an-SR1-form">Who can send an SR1 form</h2>

            <p class="govuk-body">To send an SR1 form, you must be a:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>consultant</li>
                <li>general practitioner</li>
                <li>hospice doctor</li>
                <li>senior specialist nurse (such as a clinical nurse specialist, advanced nurse practitioner)</li>
                <li>specialty doctor </li>
            </ul>

            <p class="govuk-body">General practitioners and GMC-registered consultants can claim a fee for completing an
                SR1 form.</p>
        </div>

        <div id="guide-contents">

            <h2 class="govuk-heading-l" id="send-an-SR1-form">Send an SR1 form</h2>

            <div class="govuk-!-padding-bottom-6">
                <p class="govuk-body">
                    You can send an SR1 form online, by email or by post.
                </p>
            </div>
            <div class="govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-m">What you will need</h3>

                <p class="govuk-body">
                    You will need to tell us the patient's:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>name, date of birth and address</li>
                    <li>diagnosis and other relevant conditions</li>
                    <li>date of diagnosis</li>
                    <li>awareness of their diagnosis and prognosis</li>
                    <li>date they are thought to have met the criteria for the Special Rules</li>
                    <li>clinical features that indicate a severe progressive condition</li>
                    <li>treatment plan</li>
                </ul>
                <!--<div class="govuk-inset-text">
                    We can process the patient's SR1 form faster if you include their National Insurance number.
                </div>-->
                <p class="govuk-body">You do not need to give a specific prognosis. Use the same language you use when
                    communicating with other clinicians.</p>
                <p class="govuk-body">You will also need to tell us your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>name</li>
                    <li>role</li>
                    <li>professional registration number</li>
                    <li>organisation’s phone number and address</li>
                    <!--<li>organisation's address</li>-->
                </ul>
            </div>
            <div class="govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-m">Send online</h3>
                <a href="/private-beta03/signin-page" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>
            <div class="govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-m">Send by email</h3>

                <p class="govuk-body">Email <a href="mailto:form.e-sr1@dwp.gov.uk"
                        target="_blank">form.e-sr1@dwp.gov.uk</a>
                    to request an electronic version of the SR1 form and fee form.</p>

                <p class="govuk-body">Your email must be from a secure email address and include your:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>surgery, hospital, or office address</li>
                    <li>phone number</li>
                </ul>
                <p class="govuk-body">Secure email addresses end in:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>@nhs.net</li>
                    <li>@nhs.uk</li>
                    <li>@nhs.scot</li>
                    <li>@nhs.wales.uk</li>
                    <li>@gov.uk</li>
                </ul>

                <p class="govuk-body">Emails not sent from a secure email address will be automatically deleted.</p>
                <p class="govuk-body">You can save the SR1 form to your device. You do not need to sign either of the
                    forms.
                </p>
                <p class="govuk-body">Email the completed SR1 forms to <a href="mailto:form.e-sr1@dwp.gov.uk"
                        target="_blank">form.e-sr1@dwp.gov.uk</a>.</p>
                <p class="govuk-body">Do not encrypt any part of the email.</p>
            </div>
            <div>

                <h3 class="govuk-heading-m">Send by post</h3>
                <p class="govuk-body">You can order paper SR1 forms using <a href="https://www.gov.uk/government/publications/dwp-medical-evidence-forms-how-to-order-them" target="_blank">the DWP order form (opens in a new tab)</a>.</p>

                <p class="govuk-body">Post completed paper SR1 forms and fee forms to:</p>
                <p class="govuk-body">Personal Independence Payment (10)</br>Mail Handling Site A</br>Wolverhampton</br>WV98 1AE</p>
                <p class="govuk-body">You must:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>sign the completed form</li>
                    <li>post the original copy</li>
                    <li>use a separate envelope for each patient's form</li>
                </ul>

                <p class="govuk-body">Alternatively, you can give the completed SR1 form to the patient or the person who requested it on their behalf. You must still post the fee form to us.</p>

                <p class="govuk-body">We cannot accept a printed copy of the electronic SR1 form.</p>

                <p class="govuk-body">Do not staple any documents together.</p>
            </div>
            <!--<div class="govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-m">Ordering paper SR1 forms</h3>

                <p class="govuk-body">Your order should be sent with a cover letter on headed paper.</p>
                <p class="govuk-body">Include a list of clinicians who may complete the SR1 form in the letter.</p>
                <p class="govuk-body">Email the order form and cover letter from a secure email address to <a
                        href="mailto:dwp@hhglobal.com" target="_blank">dwp@hhglobal.com</a>.</p>

                <p class="govuk-body">You can also fax them to HH Global Limited on 0300 373 0125.</p>

                <p class="govuk-body">If you have any questions about this process, call the HH Global Limited helpline
                    on 0333 016 9656.</p>
            </div>-->

        </div>



    </div>

    <!-- Side panel -->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">Related content</h2>
            <p><a href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/the-special-rules-how-the-benefit-system-supports-people-nearing-the-end-of-life">The
                    Special Rules: how the benefit system supports people nearing the end of life</a></p>
            <p><a href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/dwp-medical-factual-reports-a-guide-to-completion">DWP
                    Medical (factual) reports: a guide to completion</a></p>
            <p><a href="https://www.gov.uk/benefits-end-of-life">Find out about getting benefits if you are nearing end
                    of life</a></p>
            <p><a href="https://www.gov.uk/government/publications/special-rules-for-end-of-life-healthcare-professional-resources">Resources
                    for healthcare professionals to promote the Special Rules for end of life</a></p>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--l" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
    </section>
</div>
{% endblock %}