{% extends "layout-gov-signed-in-private-beta03.html" %}

{% block pageTitle %}
Give details of the clinical features that indicate a severe progressive condition – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta03/sr1-form-13-saved" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                   

                    <!-- Give the details of the clinical features that indicate a severe progressive condition -->
                 
                    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="75">
                        <h1 class="govuk-label-wrapper">
                          <label class="govuk-label govuk-label--l" for="word-count">
                            Give details of the clinical features that indicate a severe progressive condition
                          </label>
                
                        </h1>
                        <div id="detailsOfClinicalFeatures-hint" class="govuk-hint">
                            For example, rate of progression, recurrence, staging, tumour markers, bulbar
                            involvement, end-stage disease.
                        </div>
                        <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="wordCount" rows="8
                        " aria-describedby="word-count-info"></textarea>
                        <div id="word-count-info" class="govuk-hint govuk-character-count__message">
                          You can enter up to 75 words
                        </div>
                      </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="saveClinicalFeaturesSR1Formprivatebeta03()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveClinicalFeaturesSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta03(origin, "/private-beta03/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}