{% extends "layout-gov-signed-in-private-beta03.html" %}

{% block pageTitle %}
What is the patient’s National Insurance number? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta03/sr1-form-07" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 4 of 4</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is the patient’s National Insurance number?
                        </h1>
                    </legend>

                    <!-- National Insurance number -->
                    <div class="govuk-form-group">
                        <!--<p class="govuk-body">We can process the patient's benefit claim faster with their National Insurance number.
                        </p>-->
                        <label class="govuk-label" for="national-insurance-number">
                            National Insurance number (optional)
                        </label>
                        <div id="national-insurance-number-hint" class="govuk-hint">
                            It is on their National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12
                            34 56 C'.
                        </div>
                        <label for="niNo" class="sr-only govuk-visually-hidden">What is the patient’s National Insurance
                            number?</label>
                        <input autocomplete="off" class="govuk-input govuk-input--width-10" id="niNo" name="niNo"
                            type="text" spellcheck="false" autocomplete="off" value=" ">
                    </div>

                </fieldset>

            </div>


            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="savenniNoSR1Formprivatebeta03()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savenniNoSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta03(origin, "/private-beta03/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}