{% extends "layout-gov-signed-in-private-beta03.html" %}

{% block pageTitle %}
Does the patient have other relevant diagnoses? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/private-beta03/sr1-form-10-saved" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 4 of 6</span>-->
                        <h1 class="govuk-fieldset__heading">
                            Does the patient have other relevant diagnoses?
                        </h1>
                    </legend>

                    <!-- Other relevant diagnosis? (optional) -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="251">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="otherRelevantDiagnosis">Include other relevant diagnosis
                                (optional)
                            </label>
                            <textarea class="govuk-textarea govuk-input--width-20 govuk-js-character-count"
                                id="otherRelevantDiagnosis" name="otherRelevantDiagnosis" rows="5" type="text" spellcheck="false" autocomplete="off"> </textarea>
                        </div>
                        <div id="otherRelevantDiagnosis-info" class="govuk-hint govuk-character-count__message">You can enter up to 200 characters</div>
                    </div>

                </fieldset>
                <!--
                <div class="govuk-form-group">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="completed-otherrelevantdiagnosis" name="completed-otherrelevantdiagnosis"
                                type="checkbox" value="Completed Other Relevant Diagnosis">
                            <label class="govuk-label govuk-checkboxes__label" for="completed-otherrelevantdiagnosis">
                                I've completed this section
                            </label>
                        </div>
                    </div>
                </div>-->

            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveOtherDiagnosisSR1Formprivatebeta03()">Continue</button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveOtherDiagnosisSR1Formprivatebeta01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsprivatebeta03(origin, "/private-beta03/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}