{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement for Send an SR1 medical evidence form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Accessibility statement for Send an SR1 medical evidence form
        </h1>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a
                    class="govuk-link" href="https://www.gov.uk/help/accessibility-statement"
                    target="_blank">accessibility statement for the main GOV.UK website</a>.</p>
            <p class="govuk-body">This statement only applies to the Send an SR1 medical evidence form service,
                available at <a class="govuk-link" href="/private-beta-01-1"
                    target="_blank">www.send-an-sr1-medical-evidence-form.dwp.gov.uk/start</a>.</p>
            <h2 class="govuk-heading-m">Using this service</h2>
            <p class="govuk-body">This service is run by the Department for Work and Pensions (DWP). We want as many
                people as possible to be able to use this service. For example, that means you should be able to: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts using browser or device settings</li>
                <li>zoom in up to 400% without the text spilling off the screen</li>
                <li>navigate all the service using a keyboard or speech recognition software</li>
                <li>listen to all the service using a screen reader</li>
            </ul>
            <p class="govuk-body">We have also made the text in the service as simple as possible to understand.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/"
                    target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a
                disability.</p>
            <h2 class="govuk-heading-m">How accessible this service is</h2>
            <p class="govuk-body">The service is using common styles, patterns and components from the <a
                    class="govuk-link" href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design
                    System</a> which are widely regarded as accessible. </p>
            <p class="govuk-body">Some people may find parts of this service difficult to use:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Google Chrome’s autocomplete menu suggests your details when you complete the patient’s details –
                    this is a known issue with Google Chrome, we recommend using a different browser to avoid this
                    problem</li>
            </ul>
            <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
            <p class="govuk-body">We are always looking to improve the accessibility of this service. If you find any
                problems not listed on this page or think we are not meeting accessibility requirements, <a
                    class="govuk-link" href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact-form"
                    target="_blank">contact the DWP accessibility team</a>.</p>
            <h2 class="govuk-heading-m">Enforcement procedure</h2>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the
                ‘accessibility regulations’). If you are not happy with how we respond to your complaint, <a
                    class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank">contact the
                    Equality Advisory and Support Service (EASS)</a>.</p>
            <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
            <p class="govuk-body">DWP is committed to making this service accessible, in accordance with the Public
                Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>
            <h3 class="govuk-heading-s">Compliance status</h3>
            <p class="govuk-body">This service is fully compliant with the <a class="govuk-link"
                    href="https://www.w3.org/TR/WCAG21/" target="_blank"> Web Content Accessibility Guidelines version
                    2.1 AA standard</a>.</p>
            <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
            <p class="govuk-body">This statement was prepared on 6 February 2024. It was last reviewed on 7 February
                2024.</p>
            <p class="govuk-body">This service was last tested on 6 February 2024 against the WCAG 2.1 AA standard.</p>
            <p class="govuk-body">The tests were completed by DWP. </p>
            <p class="govuk-body">There is a separate <a class="govuk-link"
                    href="https://digital.nhs.uk/services/care-identity-service/applications-and-services/cis2-authentication/cis2-authentication-accessibility-statement"
                    target="_blank">accessibility statement for the NHS CIS2 Authentication service</a>.</p>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}