{% extends "layout.html" %}
{% block pageTitle %}
Prototypes home - Special Rules for End of Life
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Special Rules for End Life Prototypes</h1>
    <!-- <p class="govuk-body-l">Below are a collection of prototypes.</p> -->

    <!-- Current prototype(s) -->
    <!-- #################### -->
    <div class="govuk-width-container govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l">Alpha</h2>
    </div>

    <div class="govuk-width-container">
      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Prototypes presented to Alpha assessment</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Prototype</th>
            <th scope="col" class="govuk-table__header ">Journey</th>
            <th scope="col" class="govuk-table__header ">User</th>
            <th scope="col" class="govuk-table__header ">Forms</th>
            <th scope="col" class="govuk-table__header ">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">C</th>
            <td class="govuk-table__cell ">HCP E2E journey - Separate questions form</td>
            <td class="govuk-table__cell ">First time</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v04/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">C</th>
            <td class="govuk-table__cell ">HCP E2E journey - Separate questions form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">Some forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v06/">Open prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="govuk-width-container">
      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Other tested prototypes</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Prototype</th>
            <th scope="col" class="govuk-table__header ">Journey</th>
            <th scope="col" class="govuk-table__header ">User</th>
            <th scope="col" class="govuk-table__header ">Forms</th>
            <th scope="col" class="govuk-table__header ">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">A</th>
            <td class="govuk-table__cell ">HCP E2E journey - One page form</td>
            <td class="govuk-table__cell ">First time</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v01/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">A</th>
            <td class="govuk-table__cell ">HCP E2E journey - One page form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v02/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">A</th>
            <td class="govuk-table__cell ">HCP E2E journey - One page form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">Some forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v03/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">B</th>
            <td class="govuk-table__cell ">HCP E2E journey - Clustered questions form</td>
            <td class="govuk-table__cell ">First time</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v07/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">B</th>
            <td class="govuk-table__cell ">HCP E2E journey - Clustered questions form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v08/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">B</th>
            <td class="govuk-table__cell ">HCP E2E journey - Clustered questions form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">Some forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v09/">Open prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">C</th>
            <td class="govuk-table__cell ">HCP E2E journey - Separate questions form</td>
            <td class="govuk-table__cell ">Returning</td>
            <td class="govuk-table__cell ">No forms on load</td>
            <td class="govuk-table__cell "><a href="/hcp-e2e-journey-v05/">Open prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}