{% extends "layout.html" %}

{% block pageTitle %}
Send an SR1 form – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Send an SR1 form
        </h1>
        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link"
            href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>
        <!--
        <h1 class="govuk-heading-xl">Send an SR1 form </h1>
        -->

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <p class="govuk-body">Use this service to send an SR1 form to <a class="govuk-link"
                    href="https://www.gov.uk/government/publications/dwp-factual-medical-reports-guidance-for-healthcare-professionals/the-special-rules-how-the-benefit-system-supports-people-nearing-the-end-of-life"
                    target="_blank">support a patient applying for a benefit with the Special Rules (opens in new
                    tab)</a>.</p>
            <div class="govuk-inset-text">
                <!-- The SR1 form has replaced the DS1500 form. You can use it to support a benefit for a patient under the Special Rules. -->
                The SR1 form has replaced the DS1500 form.
            </div>

            <p class="govuk-body">Use this service to tell the Department of Work and Pensions (DWP) that you have a
                patient
                who:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>has a progressive disease</li>
                <li>you would not be surprised if they were to live for less than 12 months</li>
            </ul>
        </div>


        <div id="guide-contents">

            <h2 class="govuk-heading-l" id="Beforeyoustart">What you will need</h2>
            <!--<h2 class="govuk-heading-l" id="Whatyouwillneed">What you will need</h2>-->

            <p class="govuk-body">You will need the patient's:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>address</li>
                <li>diagnosis and other relevant conditions</li>
                <li>date of diagnosis</li>
                <li>date that they have met the Special Rules criteria</li>
                <li>clinical features</li>
                <li>treatment plan</li>
            </ul>
            <p class="govuk-body">We can process the patient's benefit claim faster if you include their National
                Insurance number. </p>
            <p class="govuk-body">You do not need to give a specific prognosis.</p>
            <p class="govuk-body">Use language that you would normally use when communicating with other clinicians.</p>

            <!--<div class="govuk-warning-text govuk-!-margin-bottom-1">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  You will be signed out if you do nothing for 60 minutes.
                </strong>
            </div>-->

            <div class="govuk-!-padding-bottom-6"></div>

            <!--<p class="govuk-body">This service is also available <a href="#">in Welsh (Cymraeg)</a>.</p> -->

            <a href="/hcp-e2e-journey-mvp03/signin-page" role="button" draggable="false"
                class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                    viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 5 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}