{% extends "layout.html" %}

{% block pageTitle %}
NHS Care Identity authentication – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            NHS Care Identity authentication
        </h1>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <p class="govuk-body">NHS England is the data controller for your personal information in your NHS Care Identity account. They use your information to authenticate your identity when you sign in to this service with your NHS Care Identity account.</p>
            <p class="govuk-body"><a class="govuk-link"
                    href="https://digital.nhs.uk/services/care-identity-service"
                    target="_blank">Read the NHS Care Identity Service 2 privacy notice and terms and conditions (opens in new tab)</a>.</p>
            <p class="govuk-body">The Department for Work and Pensions (DWP) is the data processor. We follow instructions given by NHS England to authenticate your identity with your personal information.</p>
            <p class="govuk-body">This does not apply to the personal information you give us separately, which we manage by <a class="govuk-link"
                href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter"
                target="_blank">the DWP privacy policy (opens in new tab)</a>.</p>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}