{% extends "layout.html" %}

{% block pageTitle %}
NHS Care Identity Authentication (CIA) – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            NHS Care Identity Authentication (CIA)
        </h1>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
            <p class="govuk-body">Please note that if you access our service using your NHS Care Identity credentials,
                the identity access and management services are managed by NHS England.</p>
            <p class="govuk-body">NHS England is the controller for any personal information you provided to NHS England
                to get a national digital identity and authenticate your claim to that identity, and uses that personal
                information solely for that single purpose.</p>
            <p class="govuk-body">For any personal information, our role is a “processor” only
                and we must act under the instructions provided by NHS England (as the “controller”) when verifying your
                identity. To see NHS England’s Privacy Notice and Terms and Conditions, view the <a class="govuk-link"
                    href="https://digital.nhs.uk/services/identity-and-access-management/nhs-care-identity-service-2"
                    target="_blank">NHS Care Identity Service 2</a> page.</p>
            <p class="govuk-body">This restriction does not apply to the
                personal information you provide to us separately which is managed in accordance with our Privacy
                Policy.</p>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <ul class="govuk-list">
                        <li>Email: <a href="mailto:sr1.help@gov.uk">sr1.help@dwp.gov.uk</a></li>
                        <li>We aim to respond within 2 working days</li>
                      </ul>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}