{% extends "layout.html" %}

{% block pageTitle %}
Error: Accessing the online service – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="signinPage" action="/hcp-e2e-journey-mvp03/organisation-signin-page" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#nhs-england">Select which organisation you are registered with</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<h1 class="govuk-fieldset__heading">
                            Which organisation are you registered with?
                        </h1>-->
                        <h1 class="govuk-fieldset__heading">
                            Accessing the online service
                        </h1>
                    </legend>

                    <p>You can use this service with your current organisation's email address and password. You will be
                        sent to their website to sign in.</p>
                    <!-- Inset text -->
                    <div class="govuk-inset-text">
                        <p>The online service is currently only available to NHS England.</p>
                    </div>
                    <div class="govuk-form-group govuk-form-group--error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Which organisation are you registered with?
                        </legend>
                        <!--ERROR LEGEND -->
                        <p id="organisation-registered-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select which organisation you are
                            registered with
                        </p>
                        <!-- END ERROR -->

                        <!-- Sign in options -->
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input autocomplete="off" class="govuk-radios__input" id="nhs-england"
                                    name="organisationSignin" type="radio" value="NHS England"
                                    onclick="hcpmvp03SigninOrgFn(this)">
                                <label class="govuk-label govuk-radios__label" for="nhs-england">
                                    NHS England
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input autocomplete="off" class="govuk-radios__input" id="nhs-scotland"
                                    name="organisationSignin" type="radio" value="NHS Scotland"
                                    onclick="hcpmvp03SigninOrgFn(this)">
                                <label class="govuk-label govuk-radios__label" for="nhs-scotland">
                                    NHS Scotland
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input autocomplete="off" class="govuk-radios__input" id="nhs-wales"
                                    name="organisationSignin" type="radio" value="NHS Wales"
                                    onclick="hcpmvp03SigninOrgFn(this)">
                                <label class="govuk-label govuk-radios__label" for="nhs-wales">
                                    NHS Wales
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input autocomplete="off" class="govuk-radios__input" id="nhs-northern-ireland"
                                    name="organisationSignin" type="radio"
                                    value="Health and Social Care in Northern Ireland"
                                    onclick="hcpmvp03SigninOrgFn(this)">
                                <label class="govuk-label govuk-radios__label" for="nhs-northern-ireland">
                                    Health and Social Care in Northern Ireland
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button">
                    Continue to sign in
                </button>
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 5 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}