{% extends "layout-gov-reduced.html" %}

{% block pageTitle %}
What is the patient’s address? Select an address
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/hcp-e2e-journey-mvp03/sr1-form-05" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 3 of 4</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is the patient’s address?
                        </h1>
                    </legend>

                    <!-- Patient postcode -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="patientPostcode">Postcode</label>
                        <span id="patientPostcode" class="govuk-heading-s govuk-!-margin-top-0"></span>
                        <div class="govuk-button-group govuk-!-margin-top-0" id="patientPostcode">
                            <a id="postcode-finder-link" class="govuk-link" rel="external"
                                href="/hcp-e2e-journey-mvp03/sr1-form-03">Change postcode</a>
                        </div>
                        <!--
                        <div class="govuk-heading-s govuk-!-margin-top-0" id="patientPostcode">SE1 ABC&nbsp;&nbsp;&nbsp;<a id="postcode-finder-link" style="text-indent:4em" class="govuk-link" rel="external" href="/hcp-e2e-journey-mvp03/sr1-form-02">Change</a></div>-->
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="patientaddressline1">
                            Select an address
                        </label>
                        <select class="govuk-select" id="patientaddressline1"
                            aria-describedby="patientaddressline1-hint">
                            <option value="choose" selected>2 Addresses found</option>
                            <option class="govuk-select" id="patientaddressline1" type="text" value="86 Claremont Cove">
                                86 Claremont Cove, Glenrothes</option>
                            <option class="govuk-select" id="patientaddressline1" type="text" value="88 Claremont Cove">
                                88 Claremont Cove, Glenrothes</option>
                        </select>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="cannot-find-address">
                            <a id="postcode-finder-link" class="govuk-link" rel="external"
                                href="/hcp-e2e-journey-mvp03/sr1-form-04-a">I cannot find the address on the list</a>
                        </label>
                    </div>
                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="save()">Continue</button>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>
        
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <!--<p class="govuk-body">You can email for technical support, such as accessing the service.</p>
              <p class="govuk-body">We cannot discuss specific patients or how to complete the SR1 form, so please do not give personal details.</p>-->
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
            </div>
        </section>

    </div>
</div>

<script>
    const save = () => {
        var e = document.getElementById('patientaddressline1');
        var value = e.value;

        if (value.includes('86')) {
            savePatientAddressWithParametersSR1Formmvp03('86 Claremont Cove', '', 'Glenrothes', 'SE1 ABC');
        } else {
            savePatientAddressWithParametersSR1Formmvp03('88 Claremont Cove', '', 'Glenrothes', 'SE1 ABC');
        }
    }
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //save();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsmvp03(origin, "/hcp-e2e-journey-mvp03/task-list-sr1-form");

        window
            .location
            .replace(url.toString());
    }
</script>
{% endblock %}