{% extends "layout-gov-reduced.html" %}

{% block pageTitle %}
What are the other relevant diagnoses? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/hcp-e2e-journey-mvp03/sr1-form-10" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#whatIsTheDiagnosis">Enter the other relevant diagnoses</a>
                            </li>
                            <li>
                                <a href="#whatIsTheDiagnosis" class="govuk-visually-hidden">Other relevant diagnoses must be 250
                                    characters or less</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" for="otherRelevantDiagnosisinput">
                        <h1 class="govuk-label-wrapper">
                            <!--<span class="govuk-caption-l">Question 4 of 6</span>-->
                            <label class="govuk-label govuk-label--l" for="otherRelevantDiagnosisinput">
                                What are the other relevant diagnoses?
                            </label>
                        </h1>
                    </legend>
                    <!--
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l"> Question 4 of 6</span>
                        <h1 class="govuk-fieldset__heading">
                            What are the other relevant diagnoses?
                        </h1>
                    </legend>-->

                    <!-- Other relevant diagnosis? (optional) -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">

                        <!--ERROR LEGEND -->
                        <p id="whatIsTheDiagnosis-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Enter the other relevant diagnoses
                        </p>
                        <p id="whatIsTheDiagnosis-character-max-error"
                            class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> Other relevant diagnoses must be 250 characters or
                            less
                        </p>
                        <!-- END ERROR -->

                        <div class="govuk-form-group">
                            <textarea class="govuk-textarea govuk-input--width-20 govuk-js-character-count"
                                id="otherRelevantDiagnosisinput" name="otherRelevantDiagnosisinput" rows="5"
                                aria-describedby="otherRelevantDiagnosisinput-info"></textarea>
                        </div>
                        <div id="otherRelevantDiagnosisinput-info" class="govuk-hint govuk-character-count__message">You can
                            enter up to 250 characters</div>
                    </div>

                </fieldset>

            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveOtherDiagnosisSR1Formmvp03()">Continue</button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="#">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:sr1.forms@dwp.gov.uk">sr1.forms@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 5 working days.</p>
                </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveOtherDiagnosisSR1Formmvp03();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsmvp03(origin, "/hcp-e2e-journey-mvp03/sr1-form-sections-2-in-progress");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}