{% extends "layout.html" %}

{% block pageTitle %}
Send an SR1 form
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="profileSetupPage" action="/hcp-e2e-journey-v07/edit-incomplete-form-error" method="post">
      <div class="govuk-form-group">

        <!--Success banner -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You saved the patient's details
            </h3>
            <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>-->
          </div>
        </div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
              <span id="PatientFullName"></span>: SR1 form
            </h1>
          </legend>

          <div class="govuk-!-padding-bottom-6"></div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-6">SR1 form incomplete</h2>
              <p class="govuk-body govuk-!-margin-bottom-7">You started this form on 16 January 2023.</p>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Incomplete SR1 forms will be deleted after 30 days.
                </strong>
              </div>
              <p class="govuk-body govuk-!-margin-bottom-7">You have completed 6 of 12 sections.</p>

              <ol class="app-task-list">
                <li>
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Patient details
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item" id="patientFullName">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-patient-id-address-lookup-c">
                          Full name<span class="govuk-visually-hidden"> the patient's full name</span>
                        </a>
                      </span>
                      <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item" id="patientDateOfBirth">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-patient-id-address-lookup-c#dob-day">
                          Date of birth<span class="govuk-visually-hidden"> the patient's date of birth</span>
                        </a>
                      </span>
                      <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item" id="patientaddressline1">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-patient-id-address-lookup-c#address-line-1">
                          Address<span class="govuk-visually-hidden"> the patient's address</span>
                        </a>
                      </span>
                      <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item" id="patientNINo">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-patient-id-address-lookup-c#niNo">
                          National Insurance number<span class="govuk-visually-hidden"> the patient's National Insurance
                            number</span>
                        </a>
                      </span>
                      <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                    </li>
                  </ul>
                </li>

                <li>
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Diagnosis
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item" id="patientDiagnosis">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#whatIsTheDiagnosis">
                          Diagnosis<span class="govuk-visually-hidden"> the patient's diagnosis</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                    <li class="app-task-list__item" id="patientDateOfDiagnosis">
                      <span class="app-task-list__task-name" id="dateOfDiagnosis">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#dod-month">
                          Date of diagnosis<span class="govuk-visually-hidden"> the date of the patient's
                            diagnosis</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                    <li class="app-task-list__item" id="dateSpecialRules">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#dateofSpecialRules-day">
                          Date the patient met the Special Rules<span class="govuk-visually-hidden"> the date the
                            patient met the Special Rules</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                    <li class="app-task-list__item" id="patientOtherDiagnosis">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#otherRelevantDiagnosis">
                          Other relevant diagnosis<span class="govuk-visually-hidden"> the patient's other
                            relevant diagnosis</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                    <li class="app-task-list__item" id="patientAwareOfDiagnosis">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#awareOfDiagnosisYes">
                          Is the patient aware of their diagnosis?<span class="govuk-visually-hidden"> if the patient is aware of their
                            diagnosis</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                    <li class="app-task-list__item" id="patientAwareOfPrognosis">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-diagnosis#awareOfPrognosisYes">
                          Is the patient aware of their prognosis?<span class="govuk-visually-hidden"> if the patient is aware of their
                            prognosis</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                  </ul>
                </li>

                <li>
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Clinical features
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item" id="patientClinicalFeatures">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-clinical-features">
                          Details of the clinical features<span class="govuk-visually-hidden"> details of clinical
                            features</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                  </ul>
                </li>

                <li>
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Treatment
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item" id="purposeOfTreatment">
                      <span class="app-task-list__task-name">
                        <a href="/hcp-e2e-journey-v07/sr1-form-treatment">
                          Purpose of treatment and response<span class="govuk-visually-hidden"> details of the purpose
                            of any treatment and response</span>
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
                        started</strong>
                    </li>
                  </ul>
                </li>

                <!--
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    Check your answer
                  </button>
                  <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
                    href="/hcp-e2e-journey-v07/delete-form">
                    Delete form
                  </a>
                </div>
              -->



              </ol>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>

  <!-- Side panel -->
  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">Get help</h2>
      <p class="govuk-body"><a class="govuk-link"
          href="https://ds1500-prototype.herokuapp.com/sr1-1/sr1-guidance#patients-may-not-know-true-nature-of-illness"
          target="_blank">How to complete the SR1 form (opens in a new tab)</a></p>
      <ul class="govuk-list">
        <li>Email: <a href="mailto:sr1.servicedesk@nhs.net">sr1.servicedesk@nhs.net</a></li>
        <li>Telephone: 0300 303 5035</li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}